<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Documentario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“Il bonobo è una pericolosa alternativa sociale
    <br>Dimostra che in natura esiste l'omosessualità
    <br>E che l'uomo è aggressivo perché sessualmente represso
    <br>E soprattutto che l'unico vero modo per vivere in pace
    <br>È giocare mangiare ed accoppiarsi
    <br>Alla faccia di RELIGIOSI, INTELLETTUALI
    <br>E POLITICI BENPENSANTI!!!”
  </div>
  <div class="quote-end">
    <br>Caparezza, “Bonobo Power”
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Avete dunque ora riconciliato
    <br>Voi stessi con la natura imperante?
    <br>No, vi dico ora perché, d’un fiato.
    <br>Anche voi siete nel giogo, occhio, è importante.
  </p>
  <p class="section-regular">
    Immergiamoci nella foresta, nella selva, nel fitto
    <br>Osserviamola desta, la belva, a capo ritto
    <br>Che respira ansante, feroce e stremata
    <br>Ha mancato la preda, per lei, e la cucciolata.
  </p>
  <p class="section-regular">
    Ora voi che fareste, per davvero?
    <br>Come dite? Riprendereste la caccia?
    <br>Certamente, fosse l’unica via.
    <br>Ma se all’improvviso avvertiste una scia
    <br>D’una belva sbadata, che lascia una traccia,
    <br>Non l’avvicinereste, da tergo, nel folto nero?
  </p>
  <p class="section-regular">
    Per rubare a quella madre, innocente come voi
    <br>La sua calda preda, funzionale e succulenta?
    <br>La nostra amica lo fa, ora, innanzi a noi
    <br>Sbrana la sua compagna. E non se ne penta!
  </p>
  <p class="section-regular">
    Poiché lei è soggetta alle regole
    <br>D’un mondo silvano, non di nostro giudizio.
    <br>Ma risiedono qui la pecca ed il vizio
    <br>Di quando iniziammo a coprirci di tegole.
  </p>
  <p class="section-regular">
    Una strada giusta è visibile agli illuminati,
    <br>E per tanto tempo, tali ci siamo proclamati.
    <br>D’intelletto superiore, di misericordia e di grazia
    <br>Chiedendo “Per favore, aiuto, rendimi sazia!”
  </p>
  <p class="section-regular">
    Una belva gentile, ecco il nostro aspetto.
    <br>Se ci fossimo comportati davvero in modo retto.
    <br>Ma no, abbiamo deciso, sprecando secoli d’evoluzione
    <br>Di defecare su mondo, equilibrio e proporzione.
  </p>
  <p class="section-regular">
    Tutto abbiam voluto, ogni risorsa, ogni cavità.
    <br>E poi? Come soluzione, preghiamo. Ma quale divinità!
    <br>Quale dio assiste allo scempio, alla vergogna,
    <br>D’un mondo deturpato da noi, e messo alla gogna?
  </p>
  <p class="section-regular">
    Per capire meglio, alziamo lo sguardo, sui rami.
    <br>Dove un colibrì posa il suo nido, con pazienza.
    <br>É la sua casa, la sua famiglia, come può far senza?
    <br>Ma se avesse, ma solo nell’animo, aspetti umani?
  </p>
  <p class="section-regular">
    Cinguetterebbe cortese ad ogni vicino,
    <br>Porgendo un regalo, un invito, un ramino,
    <br>Salvo poi cantar con sua moglie, in privato:
    <br>“Ma l’hai visto?? Tutto sudicio, e spiumato!!”
  </p>
  <p class="section-regular">
    Vedete, la ferocia d’una belva, va ammirata.
    <br>Ma solo nel suo contesto, poiché lì è forzata!
    <br>Mentre gratuita è tutta la nostra perfidia,
    <br>Ed un colibrì non è capace d’odio, e d’invidia.
  </p>
  <p class="section-regular">
    Siamo dunque noi le belve, in questa natura,
    <br>Senza foglie, senza un lago, una radura,
    <br>Abbiamo inghiottito tutto, ed andremo innanzi,
    <br>Ad una morte non richiesta, ed i nostri avanzi?
  </p>
  <p class="section-regular">
    Nessuno rimarrà, sarà integra la nostra carcassa.
    <br>Nel futuro più lontano, di cui non c’interessa.
    <br>Tanto, è logico, le iene saranno morte tutte!
    <br>Non vi è più nessuno a cui demandar cose brutte.
  </p>
  <p class="section-regular">
    Il ghigno di cui vi narravo rimarrà così, stolto
    <br>Stampato su ogni singolo stupido volto,
    <br>Se solo avessimo ascoltato, insieme, il pianto del mondo
    <br>Lo avremmo accudito com’era: bello, solare e fecondo.
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda12.jpg" />
</ion-content>