<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="second"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">XVII Dicembre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content2" (swipe)="swipeEvent($event)">
  <p class="section-regular">
    Inizia con gli sguardi, il più classico cliché
    <br>Cerchi di capir chi sono, seduto innanzi a me.
    <br>Vuoi vincere, che sia io ad abbassar l’occhio
    <br>Vienimi sotto, sfidami, razza di pidocchio...
  </p>
  <p class="section-regular">
    ...Ma questo confronto, è roba vecchia!
    <br>Oggi tappiamo l’occhio e l’orecchia!
    <br>Immersi siam nei nostri affari, così non lo vediamo
    <br>Il filo della vita unire destini che non abbiamo.
  </p>
  <p class="section-regular">
    E sinceramente? Meglio così. Meglio aver tempo per sé,
    <br>Che sprecarlo dietro alla mania d’argomentare... Chissacchè.
    <br>Se non si sa dove guardare, che senso ha l’osservazione?
    <br>Se non si vuol interagire, di che si ha la convinzione?
  </p>
  <p class="section-regular">
    ...Ok, vi ho confuso: vi spiego ora e di botto:
    <br>Ogni mattina, mi trovo nella scatola argentata!
    <br>Proprio quella che va da Fermi, sino al Lingotto!
    <br>Ammiro il tempo che scorre, nella gabbia immacolata.
  </p>
  <p class="section-regular">
    Che frena il nostro istinto, e non si sa perché.
    <br>Che voglio dirvi: è naturale chiudersi in sé,
    <br>Alle sette del mattino, Iphone in mano, grugno sul volto,
    <br>Quando il sonno ed il fastidio il sorriso hanno sepolto.
  </p>
  <p class="section-regular">
    Ma nel viaggio di ritorno, oserei sperar di più.
    <br>Non ogni volta, sia chiaro, ognuno ha i suoi affari
    <br>Ma, una volta ogni dieci, alzar lo sguardo in su,
    <br>E cercar di individuare nuovi volti, a voi cari.
  </p>
  <p class="section-regular">
    No? Non è possibile? Eppur vi vedo farlo.
    <br>Osservate la madre e sua figlia con il telefonino.
    <br>Vedo che questo mondo, siete interessati a giudicarlo
    <br>E non capir quale famiglia sia finita in un casino.
  </p>
  <p class="section-regular">
    Sentendovi migliori, guardate solo sprezzanti,
    <br>Sapendo che sapreste dargli maggiore educazione.
    <br>Ma se si parlasse invece, di attaccar conversazione?
    <br>Coi fatti e gentilezza, giustificare i vostri vanti?
  </p>
  <p class="section-regular">
    Che schifo. Preferisco dedicarmi ad altro, a dar conforto
    <br>Ad una persona lì a disagio. La guardo, le carezzo il volto,
    <br>Creando un intimo sogno nello spazio d’un secondo,
    <br>Senza ipocrisia, senza impegnar ragione o torto,
    <br>Sorrido d’occhio sereno, non piango d’occhio sconvolto.
    <br>Con la naturalezza e la calma del nostro mondo.
  </p>
  <p class="section-regular">
    Restateci voi, nella scatola di ferro dei pregiudizi
    <br>Dove le colpe danno seguito al perduto sguardo dei vizi,
    <br>Io volo nel metrò della fantasia, della dolce mutua compassione.
    <br>Dov’è bello guardarsi, socializzare, creare insieme... L’emozione.
  </p>
  <br>
  <img class='img-regular-img' src="assets/other_medias/other6.jpg" />

</ion-content>