<ion-split-pane contentId="content3" [disabled]="!paneEnabled">

  <ion-menu contentId="content3" menuId="third" side="end">

    <ion-header>
      <ion-toolbar>
        <ion-title>Indice</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-menu-toggle auto-hide="false" menu="third" *ngFor="let p of pages"
          [class.active-item]="p.url === selectedPath" (click)="assignPath(p.url)">
          <ion-item [routerLink]="p.url" routerDirection="root">
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content3"></ion-router-outlet>

</ion-split-pane>