<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="third"></ion-menu-button>
    </ion-buttons>
    <ion-title>Luca Martinengo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content3" (swipe)="swipeEvent($event)" padding>
  <p class="section-regular">
    Nato a Lanzo Torinese, classe '92, Luca Martinengo è un "poeta tamarro" ;)
  </p>
  <p class="section-regular">
    Egli stesso si definisce tale: fornisce di sé l'immagine di chi apprezza la poesia, l'arte, i suoi mutevoli
    risvolti, ma non dimentica la quotidianità fatta di risa, impegno e vita comune a quella di chiunque altro.
  </p>
  <p class="section-regular">
    Convinto taoista, programmatore per lavoro, appassionato di musica, pallacanestro e letteratura, sceglie di
    intraprendere un percorso artistico personale, portando al mondo la sua poesia innovativa.
  </p>
  <p class="section-regular">
    Pone la sua arte come elemento di rottura dei canoni classici della composizione poetica, adattando alla musicalità della
    poesia una nuova metrica, con una contenutistica varia fatta di riflessioni sociologiche, d'introspezione, di risate
    e descrizioni d'un mondo meraviglioso a nostra completa disposizione.
  </p>
  <p class="section-regular">
    Lasciamo qui di seguito i suoi riferimenti, per chiunque volesse approfondire. 
    <br>Egli stesso è lo sviluppatore dell'applicazione sulla quale state leggendo queste parole ;)
  </p>

  <ion-grid>
    <ion-row>
      <ion-col>
        <a href="https://www.instagram.com/luca_martinengo/">
          <img class='img-links' src="assets/other_medias/instagram.png" />
        </a>
      </ion-col>
      <ion-col>
        <a href="https://www.twitch.tv/LucaMartinengo">
          <img class='img-links' src="assets/other_medias/twitch.png" />
        </a>
      </ion-col>
      <ion-col>
        <a href="https://discord.gg/aeJWN9P">
          <img class='img-links' src="assets/other_medias/discord.png" />
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a href="https://www.instagram.com/luca_martinengo/channel/">
          <img class='img-links' src="assets/other_medias/igtv.png" />
        </a>
      </ion-col>
      <ion-col>
        <a href="https://www.youtube.com/user/ItalyLucam92skater">
          <img class='img-links' src="assets/other_medias/youtube.png" />
        </a>
      </ion-col>
      <ion-col>
        <a href="https://www.linkedin.com/in/martinengoluca/">
          <img class='img-links' src="assets/other_medias/linkedin.png" />
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>