<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Respiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“Chi conosce il maschile ma conserva il femminile,
    <br>Diventa l’impluvio del mondo.
    <br>Essendo l’impluvio del mondo,
    <br>La virtù non lo abbandona mai;
    <br>Ritorna allo stato di infante.”
  </div>
  <div class="quote-end">
    <br>Lao Tzu, Tao te Ching
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    All'inizio un tuono, poi nulla.
    <br>Questo è ciò che senti.
    <br>O tu, che nell'animo vivi di stenti
    <br>Tutta l’esistenza, che falsa e pigra ti culla.
  </p>
  <p class="section-regular">
    Poiché non vuoi conoscer l'emozione.
    <br>Vivi di gioie effimere, grandi e costose
    <br>Tu ci credi, perfin del mondo sei padrone
    <br>Schiavo delle tue voglie, molte e precipitose.
  </p>
  <p class="section-regular">
    Sei perduto, vaghi in questo dedalo intricato
    <br>Cercando il tempo, ricchezza d'oggi e del domani.
    <br>O tu, che perdi coscienza del mondo, sei avvisato:
    <br>La vita stessa scivolerà tra le mani.
  </p>
  <p class="section-regular">
    E se ti fermassi, calmo, a respirare
    <br>Abbracciando l'aria frizzante del mattino
    <br>Se ti sorprendessi, una volta, a sognare
    <br>Rivivendo un sol momento, da vicino
  </p>
  <p class="section-regular">
    Quando, in viaggio, le luci della città distante
    <br>Brillarono come stelle, fautrici di curiosità
    <br>Quando il tramonto cremisi, d'energia crepitante
    <br>Divenne la più epica fanfara di felicità
  </p>
  <p class="section-regular">
    Quando ogni luogo possedeva un odore,
    <br>Quando ogni persona era un'esperienza...
    <br>Ecco! In quell'attimo avvertisti il calore
    <br>Ma tu, stolto, hai scelto di viverne senza.
  </p>
  <p class="section-regular">
    Se solo tu potessi ricordare le gioie e la pena
    <br>Che un amore fanciullesco regala al mondo...
    <br>La potenza del torrente d'emozioni in piena
    <br>Che ormai giace sopita, nell'animo, nel profondo.
  </p>
  <p class="section-regular">
    O arida creatura, il momento è giunto.
    <br>Di abbandonar l'arroganza d'esser cresciuto
    <br>Di tirare indietro l'animo spigoloso e compunto
    <br>Per riviver le piccole emozioni, per un solo minuto.
  </p>
  <p class="section-regular">
    Siediti, uomo, e vivi al ritmo dei tuoi pensieri
    <br>E non a quello del mondo che ti governa.
    <br>Respira di nuovo il gioco, la magia, i misteri
    <br>E volerai nel domani come una sterna,
  </p>
  <p class="section-regular">
    Che canta al cielo turchese, splendido ed immacolato:
    <br>"Il piacere di vivere, con la speranza, è ritornato"
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda4.jpg" />
</ion-content>