<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Testamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“Meglio non vivere una super felicità
    <br>Se ti controllano come un computer con facilità
    <br>I nostri veri padri chi ce li ridà?
    <br>Meglio nulla che ereditare aridità”
  </div>
  <div class="quote-end">
    <br>Rancore, S.U.N.S.H.I.N.E.
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Soffia il vento della vergogna, nella mia vita.
    <br>Anima mia, ti sento, sei divertita,
    <br>Poiché dal grembo sono io la calamìta
    <br>D'ogni mia solitudine, fratricida, da eremita.
  </p>
  <p class="section-regular">
    L'eredità che ottengo... Cosa davvero mi resta
    <br>Dal testamento che il mondo oggi s’orchestra?
    <br>Solo gioie grandi, calzanti, così lussureggianti...
    <br>Anima mia...
    <br>Tutti vedono l' oro, ma nascondo i tuoi diamanti.
    <br>Portami via...
    <br>Prima che ci prendano con loro. I mercanti.
  </p>
  <p class="section-regular">
    Portami nelle lande della compassione
    <br>Laddove dimora l'alter ego nostro.
    <br>Ad oggi infatti è facile divenir mostro
    <br>scavando nel volto scuro dell'altre persone.
  </p>
  <p class="section-regular">
    Anima mia ricordami, solo a te m'appello
    <br>Per figurarmi il mondo, o ciò che ne resta
    <br>Fra la folla passo e sfoggio il bel cappello
    <br>Ma lo vorrei sul cuore, non in alto, sulla testa.
  </p>
  <p class="section-regular">
    Poiché è il guardarci dentro che abbiamo
    <br>Dimenticato nel nuovo sudicio sfarzo
    <br>Eppur ci sorprende, di dolore v’è un sobbalzo
    <br>Ad ogni taglio nello spirito, quando ci tradiamo.
  </p>
  <p class="section-regular">
    Ed ora dimmi, ora che ammiro
    <br>La mia opulenza, tenuta in stiro
    <br>Da un ferro d'angoscia ed invidia
    <br>Seppur venerante tutta l'accidia
    <br>Di chi con l'anima parla, e respira
    <br>Ora dimmi tu, ora che accogli l'ira
  </p>
  <p class="section-regular">
    D'un ragazzo spento e vuoto, ma ben noto
    <br>Per la bella giacca e le scarpe nuove…
  </p>
  <p class="section-regular">
    Il mio spirito deve dunque cercare altrove,
    <br>E non in te, la felicità, quella vera, in toto?
    <br>L'umanità abbiamo perso, nell'eleganza.
    <br>Rimani solo tu, la mia unica speranza.
  </p>
  <p class="section-regular">
    Il mio ultimo lamento, per te, è il mio lascito.
    <br>Prima di morire, ricco e bello, ma senza fascino.
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda5.jpg" />

</ion-content>