<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Insta-grana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“Metà di voi non sa di cosa parla
    <br>Vive di una foto e di chi corre a commentarla
    <br>Fra', non c’è mai stata storia,
    <br>Fai un pezzo e chiamalo Vittoria
    <br>Così forse puoi cantarla”
  </div>
  <div class="quote-end">
    <br>Lazza, “Re Mida”
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Mi dici parla chiaro?
    <br>Ok, non c’è problema.
    <br>Sarà proprio questo il tema,
    <br>Il mio intento qui dichiaro.
  </p>
  <p class="section-regular">
    Scrivo rime, scrivo strofe, scrivo versi.
    <br>Così i miei occhi, a te appaiono diversi.
    <br>Poiché gli scemi son tanti impegnati a bersi
    <br>Le cazzate su onore e rispetto, ne sono immersi.
  </p>
  <p class="section-regular">
    Chiami coraggio l’arroganza,
    <br>E debolezza la ragione,
    <br>Sicché il tuo aspetto e la sostanza,
    <br>Son proprio quelle del coglione.
  </p>
  <p class="section-regular">
    Mi dai del buonista, del retorico, del perbenista,
    <br>Deridi le mie strofe con un meme, su Insta,
    <br>Hai il giudizio facile, la lingua biforcuta.
    <br>Ma...Responsabilità? Nessuna ne ho veduta!
  </p>
  <p class="section-regular">
    M’inciti a far la voce grossa,
    <br>Mollare i freni inibitori,
    <br>Beh ritengo che farlo solamente possa
    <br>Chi non risiede fra i comuni debitori!
  </p>
  <p class="section-regular">
    Facile, parlare. A farsi, un po’ di meno.
    <br>Perché invece non tener la lingua a freno
    <br>Ed innalzarsi al di sopra delle comuni vedute?
    <br>E prendere il bello, dalle cose ‘sì avvenute?
  </p>
  <p class="section-regular">
    Ma no, ti piace salvare il marciume
    <br>E buttare via il frutto dell’acume.
    <br>Ora fletti i tuoi muscoli, da bravo,
    <br>Che tanto si sa chi è padrone, e chi schiavo.
  </p>
  <p class="section-regular">
    Chi coltiva l’animo e lo cresce,
    <br>O chi pur volendo, non vi riesce?
    <br>Sai che ti dico? Son stufo di salvarti!
    <br>É tutto un libro che cerco d’aiutarti!
  </p>
  <p class="section-regular">
    Vai! Corri a dire in giro che m’hai battuto.
    <br>Trionfo più effimero non s’è mai veduto!
    <br>Quali ricorderanno, delle nostre ceneri?
    <br>Chi ha urlato e disprezzato, pur se venduto,
    <br>Oppure chi sussurra alle menti dei ricoveri?
  </p>
  <p class="section-regular">
    Un urlo lo odono tutti, ma ferisce l’udito.
    <br>Un sussurro in pochi, ma stai sicuro
    <br>Che non lo scordano, rimane il preferito
    <br>Di chi vuole accogliermi. Nell’animo perduro.
  </p>
  <p class="section-regular">
    E ti ringrazio infine, mio ingrato imbecille,
    <br>Per poterti dedicare un strofa, o forse mille.
    <br>Perché sì, scrivo noioso, con poche rime divertenti,
    <br>Ma intanto m’incammino, con la forza d’argomenti.
  </p>
  <p class="section-regular">
    Verso il futuro, farcito di soddisfazioni.
    <br>Magari non saranno il rispetto e la fama,
    <br>A rendermi un poeta coi milioni...
    <br>Ma scrivere per completare un circolo?
    <br>Questa è davvero la mia brama.
    <br>E per soddisfarla, oserei ogni pericolo.
  </p>
  <p class="section-regular">
    Perciò, pensa, prima di parlare,
    <br>Caro giornalista, professore, compare.
    <br>Sei davanti a chi, fin dai primi anni,
    <br>È coerente con se stesso, e ne conserva i danni
  </p>
  <p class="section-regular">
    Ma anche la tremenda forza ineguagliabile.
    <br>Critica il pensiero, lo stile, quanto sono abile,
    <br>Ma non dir parola sul mio impegno.
    <br>L'ho scritto nella mia, e nelle vostre anime.
    <br>Col sangue, l'orgoglio e l'ingegno.
  </p>
  <p class="section-regular">
    Prova ora a commentarlo, pusillanime.
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda16.jpg" />
</ion-content>