<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Odia responsabilmente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“Non guardare a terra, tu guarda verso le stelle
    <br>Sono tutte uguali fra, non si uccidono per la pelle”
  </div>
  <div class="quote-end">
    <br>Jake la furia - Ninna nanna
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Sapete dove ho iniziato a scrivere l’opera?
    <br>Laddove la forma non importa, il linguaggio non si modera.
    <br>Con gente di strada, che giudicate inferiore,
    <br>Per il colore di pelle, il reddito basso, il forte odore.
  </p>
  <p class="section-regular">
    A me piace mischiarmi, con questa e quella cultura.
    <br>Guardare dritto negli occhi, senza paura,
    <br>Di chi magari non condivide la mia levatura,
    <br>Ma a cui natura ha dato una scorza più dura.
  </p>
  <p class="section-regular">
    Ho imparato il rispetto per il differente,
    <br>Ho imparato ad apprezzar quella gente,
    <br>Ho accolto le mani sporche di grasso,
    <br>Di chi suda, di chi è impegnato. E me la spasso!
  </p>
  <p class="section-regular">
    Rido, poiché in quest’anno venturo,
    <br>Mi chiedo che possibilità ci sia, davvero,
    <br>Che un uomo, di sua sponte, abbia odio imperituro,
    <br>Verso il prossimo, perché è giallo, marrone, oppure nero.
  </p>
  <p class="section-regular">
    Rido di loro! Son loro le scimmie, i trogloditi,
    <br>Dai cervelli minuscoli, e cuori impietriti,
    <br>Che ancora giudicano criminale chi è malvestito,
    <br>Quando la spranga, nell’armadio, nascondono col dito.
  </p>
  <p class="section-regular">
    Avete bisogno d’odiare? Bene, se proprio dovete,
    <br>Odiate chi vi calpesta l'onore e l'orgoglio,
    <br>Per metterlo lesto dentro al portafoglio.
    <br>Chi maltratta donne e bambini, chi non vi dà quiete.
  </p>
  <p class="section-regular">
    Chi ti toglie la libertà, per farla sua.
    <br>Ecco! Abbi il coraggio di odiare lui!
    <br>Di prendere posizione, in aspetti più bui
    <br>Del “povero rifugiato che disonora casa tua”.
  </p>
  <p class="section-regular">
    La delinquenza non ha colore.
    <br>Ti vogliono far credere, i furboni,
    <br>Che tornino in auge schiavi e padroni,
    <br>Che s’usino ancora collari e forconi.
  </p>
  <p class="section-regular">
    Che possano marcire essi, e pure male!
    <br>Razzisti, omofobi, bigotti impettiti,
    <br>Non siete altro che una massa tumorale,
    <br>Non vi sono insulti abbastanza coloriti
  </p>
  <p class="section-regular">
    Per descrivervi il disgusto che mi fate.
    <br>Maschi nauseati per il bacio di due uomini...
    <br>E se son donne? Beh, sicur vi masturbate!
    <br>Vecchie comari che bisbigliano ai condomini,
    <br>Sol perché stranieri son venuti ad abitare
    <br>Un piano di sotto, per mangiare, dormire e lavorare...
  </p>
  <p class="section-regular">
    Ve la chiedo io una cosa, adesso, chiara e tonda,
    <br>E se foste voi a subir questa violenza immonda?
  </p>
  <p class="section-regular">
    Ho visto io, in prima persona, l’altro ieri,
    <br>Due ragazze in metro, levare i loro sederi,
    <br>Poiché vicino ad esse, un uomo scuro, si era seduto.
    <br>Non posso certo dir subito che sia un uomo ravveduto,
  </p>
  <p class="section-regular">
    Ma non è per il color che dev’esser giudicato!!
    <br>Se fossi tu, su quel sedile, a subire umiliazione,
    <br>Ad allontanare gente, manco fossi un appestato,
    <br>Di certo faresti uno stridio d’indignazione.
  </p>
  <p class="section-regular">
    Giudicate chi viola i confini del buonsenso.
    <br>Incriminate chi nella vera violenza, s’è perso.
    <br>Accertatevi d’aver pensiero fresco e cuore terso,
    <br>E più nessun colore, giuro, vi sarà avverso.
  </p>
  <p class="section-regular">
    Che poi, scemi, vi state perdendo il sapere straniero!
    <br>L’esempio più semplice, sta nella cucina.
    <br>Quanti di voi hanno un’amica egiziana
    <br>che vi prepari un kebab, quello buono davvero?
  </p>
  <p class="section-regular">
    É come per il sesso. Siamo nel duemila e diciannove
    <br>E nei discorsi adulti, è ancora un argomento tabù.
    <br>Sveglia! Non sono certo cose nuove!
    <br>Son millenni che lo facciamo! Non allarmiamoci più!
  </p>
  <p class="section-regular">
    Stessa cosa vale dunque, per il tema del brano.
    <br>Non giudichiamo a priori l’altra gente
    <br>Per il sesso, sessualità, linguaggio o aspetto strano.
    <br>Ma per le loro azioni, in maniera intelligente.
  </p>
  <p class="section-regular">
    Chiudo con un saluto, a tutti gli strambi miei amici,
    <br>A chi è saggio, non si sdegna e tira avanti.
    <br>Rendete i miei giorni pieni, divertenti e felici.
    <br>Speriamo un giorno, di sorriderne. Tutti quanti.
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda15.jpg" />

</ion-content>