<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="second"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Fiori Di Carta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content2" (swipe)="swipeEvent($event)">
  <p class="section-regular">
    Risvegliami dentro, riportami alla vita.
    <br>Ma non con la solita solfa, quella trita.
    <br>Portami fiori di carta, fra le nenie immortali,
    <br>Dove lo spirto gotico fa tremar le cattedrali.
  </p>
  <p class="section-regular">
    Lo vedi? Son morto per te, per un lamento d'anima
    <br>Son morto come uomo, come carne ancora vegeto.
    <br>Chi mi darà la forza di voltar davvero pagina?
    <br>Chi slegherà la mia volontà dal suo feretro?
  </p>
  <p class="section-regular">
    Mia, immortale può essere, eppure il sentimento
    <br>Eccede nell'ignavia, non sopporta tal cimento.
    <br>Mi serve una spinta, la strada è quella ed unica.
    <br>Dove trovo la risposta... Ma è chiaro! Nella musica!
  </p>
  <p class="section-regular">
    Origine ebbe da un duo, in Arkansas, nell'America
    <br>Caduti dal cielo appaiono: una voce solo angelica,
    <br>Ed una porta aperta, per un oceano di chitarra pizzicata.
    <br>Evanescence, questo il loro nome. La grinta mai domata
    <br>Dei sussurri perduti, portan in pegno l'erica
    <br>Per stillarne il miele della loro ultima sintesi.
    <br>Ecco, veniamo al dunque: quanti hanno pensato
    <br>Che la passione e talento fossero parentesi
    <br>D'uno stile triste, dai giovani strumentalizzato
  </p>
  <p class="section-regular">
    Per sentirsi più GOTHIC, più DARK, più EMO
    <br>Per darsi una forzata appartenenza di genere.
    <br>Io non ci credo. Ciò che caratterizza il gruppo
    <br>E' la forza dirompente del messaggio
    <br>I testi, preziosissimi in fase di sviluppo,
    <br>Ancora oggi per le note struggenti, tremo...
    <br>Nell'animo, nel cuore, in tutto ciò che non può reggere
    <br>All'emozione da rivivere, nella mente per un concerto
    <br>Come faremo l'anno prossimo, quando sarem vicini a Maggio.
  </p>
  <p class="section-regular">
    Ecco. E' questo che mi dà la loro artistica realtà.
    <br>Commozione ricorsiva, e voglio tributargli un pegno.
    <br>Giuro che le lacrime sempre scenderanno in verità,
    <br>Finchè sarà vivo il loro cuore, ed il loro ingegno.
  </p>
  <p class="section-regular">
    Udite il mio grido, per voi: IO VI AMO.
    <br>E lo faccio con la felicità, e la speranza.
    <br>Non badate a chi con la vostra arte si deprime.
    <br>Siete fatti per la musica che l'animo comprime
    <br>Ed espande, più volte, con la lirica potenza.
    <br>Tutti uniti, dalla vostra musica, ci ergiamo.
  </p>
  <p class="section-regular">
    Tratteremo per voi l'ultimo respiro, come persone.
    <br>Ricomporremo tutti le aguzze scaglie della passione
    <br>Poichè imparammo: l'amor vostro è più del solo nome.
    <br>E non osate arrendervi. Mai. Per nessuna ragione.
  </p>
  <br>
  <img class='img-regular-img' src="assets/other_medias/other5.jpg" />
</ion-content>