<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="second"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Dolores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content2" (swipe)="swipeEvent($event)">
  <p class="section-regular">
    Non ditemelo. Anche voi, l'avete provato.
    <br>Il pensiero ingiurioso, rivolto al cielo.
    <br>Quando, d'improvviso, ci hanno privato
    <br>Di colei che splendeva, con la voce nel velo
    <br>Della tenebra d'arte. O della vita?
    <br>A noi, non è dato di indagare.
    <br>Possiamo solo commentare,
    <br>Il suo angelico canto, di potenza infinita.
  </p>
  <p class="section-regular">
    Lo faremo con i suoi ultimi passi compiuti,
    <br>I rimanenti vibrati, potenti, come gli acuti,
    <br>I testi semplici, per gli altri. Per noi, complessi.
    <br>Sempre, lei, diede voce ai mali del mondo.
    <br>Poichè reprimerli è far violenza a noi stessi,
    <br>Mostrando prima un grugno, poi un volto giocondo.
  </p>
  <p class="section-regular">
    Inizia con gli aforismi personali,
    <br>L'opera in cui termina tutto.
    <br>Si trasformerà, cambierà, e rimarrà negli annali.
    <br>Un plauso a chi l'ha resa viva, nel lutto.
  </p>
  <p class="section-regular">
    Il cuor si veste per uscire, per prender l'emozioni.
    <br>Ma son troppe, non riesce a scappar da se stesso...
    <br>Rimane nudo, soffocato dall'illusioni.
    <br>Diviene pazzo, e prende l'anima in amplesso.
  </p>
  <p class="section-regular">
    Quando sarà finito, avrà pianto di commozione.
    <br>Si riveste ora, quand'è tutto passato.
    <br>Ma il segno d'una melodia... E' scarificazione.
    <br>Le note, nel profondo l'hanno tracciato.
  </p>
  <p class="section-regular">
    E vi è inciso un memento, per tenere a memoria
    <br>Che lo spirito, nessuno mai lo prenderà.
    <br>Nessuno, finchè risplenderà la gloria
    <br>Di chi per il mondo ha cantato.
    <br>Come davvero nessun altro potrà.
    <br>Dolores O'Riordan. Ed i Cranberries. Un'unica storia,
    <br>Per la quale non ho ancora davvero ringraziato...
  </p>
  <p class="section-regular">
    Ma alla fine, poco conta il nostro pensiero
    <br>Davanti ad una visione così netta.
    <br>Questo è un tributo, in maniera diretta
    <br>Un pegno, verso chi m'ha emozionato davvero.
    <br>Era un mirtillo rosso, ora è divenuto nero.
    <br>Ma i suoi frutti, cresceranno in fretta,
    <br>E chi ha coltivato il suo lavoro, ne sia fiero.
  </p>
  <p class="section-regular">
    Poche opere sono grandi come quelle
    <br>In cui si supera il dolore, con pazienza
    <br>Per innalzare un sentimento fra le stelle.
    <br>Da più di un anno, ho veduto la tua partenza.
  </p>
  <p class="section-regular">
    Ma voglio ugualmente dirti: buon viaggio.
    <br>Della tua vita, hai svelato un solo passaggio,
    <br>Prima di dissiparti, sotto la pressione.
    <br>Ma ciò è quel che basta per vivere: un quaderno
    <br>E la tua immortale musica.
    <br>Addio a te, usignolo sempiterno.
    <br>Qui permane la tua arte
    <br>Meravigliosa. Ed unica
  </p>
  <br>
  <img class='img-regular-img' src="assets/other_medias/other1.jpg" />

</ion-content>