<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="third"></ion-menu-button>
    </ion-buttons>
    <ion-title>Recensioni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content3" (swipe)="swipeEvent($event)" padding>
  <p class="section-regular">
    Lasciamo qui di seguito, in forma testuale, ciò che è stato detto della nostra arte sinora e tutti i luoghi in cui
    le nostre opere sono state ripubblicate ^^
  </p>
  <p class="section-regular">
    Se volete essere ripubblicati a vostra volta, scrivere una recensione, collaborare o quant'altro, scriveteci ed
    i vostri desideri saranno esauditi! :-D
  </p>
  
  <p class="section-regular">
    <a href="https://www.instagram.com/explore/tags/mercantidanima/">
      #mercantidanima
    </a>
  </p>
  <p class="section-regular">
    <a href="https://www.impremix.it/category/recensioni/recensioni-mercanti/">
      Recensioni da casa editrice Impremix
    </a>
  </p>
  <p class="section-regular">
    <a href="https://www.italiabookfestival.it/case-editrici/cataloghi/item/mercanti-d-anima?category_id=374">
      Partecipazione all'Italia Book Festival
    </a>
  </p>
  <p class="section-regular">
    <a href="https://www.lafeltrinelli.it/libri/luca-martinengo/mercanti-d-anima/9788885572416?awaid=9507&gclid=Cj0KCQjwiYL3BRDVARIsAF9E4Ge0wKSNsop8C8PxjkpeUabxXF6NTGoqcIAf4-_wi6co7WyN8r8tjrEaAkWuEALw_wcB&awc=9507_1591858316_3603d9eed02ee354e408c3ebda3153ce">
      La Feltrinelli
    </a>
  </p>
</ion-content>