<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Di tutti i colori</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“He was the only human being
    <br>Who lived in harmony,
    <br>In perfect harmony”
  </div>
  <div class="quote-end">
    <br>Within Temptation, “In perfect Harmony”
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Era un uomo tutto d’un pezzo,
    <br>Che viveva tutto d’un fiato
    <br>Vi racconto ora quel che è nel mezzo
    <br>Del suo lucente cammino stellato.
  </p>
  <p class="section-regular">
    Possedeva un dono, esso
    <br>Cambiava color e sì, pur le fattezze
    <br>All’udir di un suono gli era permesso
    <br>Mutare, colorarsi, e pure altre stranezze.
  </p>
  <p class="section-regular">

Inizia così, in culla, coi primi vagiti,
  <br>E la sua pelle fu candida, senza colore,
  <br>Poiché era tale il tumulto suo, interiore,
  <br>Da rendere i pigmenti futili, infiniti.
  </p>
  <p class="section-regular">
    Subentrò poi l’infanzia, la curiosità
    <br>E la musica iniziò allora a far parte
    <br>Di ancora non sa cosa sia l’arte
    <br>Ma inizia ad intuirne le voluttà.
  </p>
  <p class="section-regular">
    Iniziò quindi a variare sul nero,
    <br>Pigmento oscuro come la vastità
    <br>Di cosa ancora non conosce, ma invero
    <br>Vi sono pronti mille volti,
    <br>Per mostrar la verità,
    <br>Siano essi o meno colti.
  </p>
  <p class="section-regular">
    Ed ecco che ora i colori variano a seconda
    <br>Di chi incontra, di chi lo bacia e lo circonda,
    <br>Delle mille voci imperanti, di cui si innamora,
    <br>Di cui si rende contrariato e felice sinora.
  </p>
  <p class="section-regular">
    Rosso, per le campane di speranza
    <br>Di una immatura passione,
    <br>Eterno nostro terrore,
    <br>Per quando l’età, del resto, ci avanza.
  </p>
  <p class="section-regular">
    Viola per la rabbia d’una lezione,
    <br>Dovuta alla mancanza
    <br>Od una dimenticanza,
    <br>Forte, con delicati flauti, d’ottone.
  </p>
  <p class="section-regular">
    Verde, per i primi amici di stanza,
    <br>I primi affari d’onore,
    <br>E il primo forte dolore,
    <br>D’un telefono squillante, in lontananza
  </p>
  <p class="section-regular">
    E così via: il mondo a quanto pareva,
    <br>Tutto da lui poteva imparare.
    <br>Bastava osservarlo mentre sedeva,
    <br>Mentre ascoltava la vita suonare.
    <br>Gentilezza a lui doveva riservare,
    <br>Nient’altro al mondo lui chiedeva,
    <br>Poiché nessun segreto poteva serbare,
    <br>A seconda delle note, esso si mostrava.
  </p>
  <p class="section-regular">
    Ma ecco giungere la vera melodia,
    <br>Che quotidianamente ottenebra i timpani,
    <br>La risata di un demone, d’un avida arpia
    <br>Malato dentro, e fuor ne mostra i sintomi.
    <br>Inizia a scuola, in tenera età
    <br>La derisione di pelle ed aspetto.
    <br>La mancanza di fiducia, amici e rispetto
    <br>Per annichilire ogni virilità.
  </p>
  <p class="section-regular">
    “Blu, nero, giallo”, dicevano!
    <br>Come un giocattolo era diventato,
    <br>Dalla cattiveria, note piovevano.
    <br>Ed egli, non rimembrò più quante volte
    <br>Quante volte per loro piacere era cambiato
    <br>Quanti schiaffi, calci, ingiurie (e molte)
    <br>Prese in sé
    <br>Solo perché…
    <br>Era diverso.
    <br>Nell’animo? Terso,
    <br>Limpido, ma macchiato d’incertezza.
    <br>Che lo sospinse a cercar rifugio, più avanti,
    <br>Per ripararsi dalla vergogna, angoscia e pianti,
    <br>Fra le braccia della comune manchevolezza.
  </p>
  <p class="section-regular">
    Iniziò a non ascoltare il mondo a sua volta,
    <br>Diventando il più inetto, grigio e stolto.
    <br>Perse la risata, il ghigno sul volto,
    <br>Financo la vita, sembrò che gli fu tolta.
  </p>
  <p class="section-regular">
    Il sistema piegò così un altro ingranaggio,
    <br>Un altro essere speciale del mondo
    <br>Colpa anche sua: non ebbe lui il coraggio,
    <br>Con le unghie, di lottar fino in fondo.
  </p>
  <p class="section-regular">
    Proprio innanzi alla morte, ecco arrivare
    <br>Un suono diverso, uno fra tanti.
    <br>Il suo orecchio fu quasi incapace di ascoltare,
    <br>Ed i suoi occhi di vedere, per i troppi pianti!
  </p>
  <p class="section-regular">
    Ma un bagliore di rosso, eccolo, si riaccese,
    <br>Quando una vecchia amica venne al suo fianco
    <br>In un giorno comune, come tanti in un mese,
    <br>E gli disse “Però! Non ti ricordavo così bianco!”.
  </p>
  <p class="section-regular">
    Iniziò ad assaporarne le parole e la cadenza,
    <br>E decise che presto, subito, non voleva farne senza.
    <br>Trovò dunque la forza di amare nuovamente
    <br>E di lasciarsi amare, con il corpo, e con la mente.
  </p>
  <p class="section-regular">
    Capì da questo che non era importante il colore
    <br>Che vogliono gli altri sulla pelle a vedersi,
    <br>Ma di sua volontà, una volta minore,
    <br>Ora inizia davvero a piacersi.
  </p>
  <p class="section-regular">
    Capì che il mondo è fatto d’armonie,
    <br>E non di cori terribilmente dissonanti,
    <br>capì che fra il mondo, le sue passioni e le sue vie,
    <br>Vi erano il bianco e il nero, in cerchio, altalenanti.
  </p>
  <p class="section-regular">
    Non gli si oppose, ma li abbracciò con sé,
    <br>E trovò finalmente, la pace. Grazie a cosa?
    <br>A se stesso ovviamente, alla pienezza di sé,
    <br>Possibile solo grazie all’unione, a una sposa,
  </p>
  <p class="section-regular">
    Non in senso letterale, può essere essa una ispirazione,
    <br>Una donna, dell’arte, la fede, un mito, una passione!
    <br>Non è importante cosa sciolga il velo dell’ottenebrazione,
    <br>Basta che risuoni nell’animo, come un’eterna composizione,
  </p>
  <p class="section-regular">
    Che colori davvero la vita, il cuore, l’interno dell’essere.
    <br>Che il corpo sia ricoperto di colori dunque, che possano...
    <br>Mostrarsi solo a chi davvero lo merita e li può comprendere.
    <br>E si giri dall’altra parte chi non li merita, a chi non piacciono.
  </p>
  <p class="section-regular">
    Che tu possa urlare, che la tua anima sia liberata:
    <br>“QUESTI sono i colori. QUESTA è la melodia.
    <br>La suonerò per chiunque l’ha trasformata,
    <br>La suonerò per renderla mia.”
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda8.jpg" />
</ion-content>