<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">“Capra” e «bue»</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“La musica è pura finché una voce la sporca
    <br>Oggi scrivo e non parlo tanto nessuno più ascolta”
  </div>
  <div class="quote-end">
    <br>Jake La Furia ft. Egreen - Testa o croce
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    “Woah! Che lettura straordinaria!
    <br>Meriterebbe davvero l’eterna gloria!
    <br>Affrontar tematiche spinose, difficoltose,
    <br>Non vi riescono altri, nemmen con le prose!”
  </p>
  <p class="section-regular">
    «Davvero? Ci sei caduta così facilmente?
    <br>É pura retorica e spazzatura!
    <br>Sono componimenti, invero, tremendamente…
    <br>Banali, come la loro stesura.»
  </p>
  <p class="section-regular">
    “Favellare lo fai facile, fannullone!
    <br>Fammi il favore, non dir fandonie.
    <br>Fantastica è la favola, ch’egli compone
    <br>Fasto non ve n’è, enfatizza la passione!”
  </p>
  <p class="section-regular">
    «E con ciò? Dovrei dire ‘cioccolato’
    <br>Innanzi a un ciottolo scagliato
    <br>Verso un ciondolo prezioso
    <br>Acciocché non sia più luminoso?!»
  </p>
  <p class="section-regular">
    “Ti credi furbo, ti conviene!
    <br>Ticchettare dentro, aspettando...
    <br>Una sola ispirazione, inspirando...
    <br>Asperità! Non ti fa bene!”
  </p>
  <p class="section-regular">
    «Guarda, parliamone, guadagno non ne viene.
    <br>Partorisce idee pallosamente guascone,
    <br>Guardando pallide immagini, a guarnizione.
    <br>Come guarisse il suo bisogno d’attenzione.
  </p>
  <p class="section-regular">
    Crede di crescere, cribbio, di creare il nuovo.
    <br>Crepe si faranno invece sulla credibilità,
    <br>Quando quelle quisquilie da rozzo bovo
    <br>Ruzzoleranno dal terrazzo della poca abilità.»
  </p>
  <p class="section-regular">
    “Ti stufa dunque che egli non studi?
    <br>Ti stupisce che siano stuoli di pensieri nudi?
    <br>Di stucco rimango. Ti rimembro che m’ami!
    <br>Rimbambito! Rimbomba a rimbalzo, sui rami
  </p>
  <p class="section-regular">
    Il suono del successo dell’amore romantico!
    <br>Superiore è davvero la tecnica in un cantico!
    <br>No! Ti consideravo meno pratico.
    <br>Ok, non etico, poetico, ma sicuro più empatico!”
  </p>
  <p class="section-regular">
    «D’empatia, implume e pia, non riempire questo scempio.
    <br>Senza radici, con solo impeti, è un confronto improbo.
    <br>A fronte di chi le fronde di lavoro del globo,
    <br>Ha affrontato morendo, implodendo, ad esempio.
  </p>
  <p class="section-regular">
    Io t’amo, sì, ma non son romantico.
    <br>É forse ora un problema? Per un libro?
    <br>Faremo dunque cadere un gelo artico,
    <br>Che rovina le giornate con l’ingombro?»
  </p>
  <p class="section-regular">
    Psst! Hai dimenticato le assonanze! :-D
  </p>
  <p class="section-regular">
    «...Vi è forse qualcun altro in queste stanze?!
    <br>Cos’è questo giogo a cui mi presto???»
  </p>
  <p class="section-regular">
    “È l’anima del poeta, del suo testo.
  </p>
  <p class="section-regular">
    Son io ad avertelo inculcato, marito mio.
    <br>Poiché non potevo più soffrire il tuo pigolio
    <br>Su quanto il mondo materiale abbia importanza.
    <br>Ora, non potrai parlare senza una assonanza!
    <br>É questo il mio maleficio! Impara il rispetto,
    <br>Per chi non studia né lavora, ma comunque ha intelletto!”
  </p>
  <p class="section-regular">
    «...Furba sei stata. Ma dimentichi un dettaglio.»
    <br>“E cioè?”
    <br>«Quel libro era la tua ultima risorsa, nel bagaglio.»
    <br>“Ah. Sicché?”
  </p>
  <p class="section-regular">
    «Sicché stai morendo di fame da giorni,
    <br>Starò a sentirti in pena mentre dormi.
    <br>Scema tu, che non hai un lavoro nei dintorni.»
  </p>
  <p class="section-regular">
    “Scemo tu, che senza arte passi gli inverni.
    <br>Sarò fiera d’esser morta nella carne,
    <br>Ma viva nello spirito, che ancora mi arde.”
  </p>
  <p class="section-regular">
    Morale? Sarò sincero, non ve n’è molta.
    <br>Poco più d’una banale serata andata storta...
    <br>Volevo illustrarvi una capra che dà del cornuto al bue.
    <br>E il bue, più ignorante ancora, si chiude, e sta sulle sue!
  </p>
  <p class="section-regular">
    Non dirò mai che quest’opera è perfetta,
    <br>O che mi metta il pane in tavola, ma mi diletta!
    <br>E tutto ciò, grazie ad equilibrio e integrazione.
    <br>Non è davvero importante aver ragione,
    <br>Ma prendere il buono da ciò che capita.
    <br>E ci ho messo tanto a capirlo, caspita!
  </p>
  <p class="section-regular">
    Spero vi sia piaciuto il siparietto,
    <br>Al prossimo brano ora vi aspetto,
    <br>Dimostratevi furbi sotto il vostro tetto,
    <br>Ed ascoltate davvero, chi vi dà vero affetto.
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda17.jpg" />
</ion-content>