<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="third"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mercanti D'Anima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content3" (swipe)="swipeEvent($event)" padding>
  <p class="section-regular">
    Mercanti d’anima è il nostro libro di poesia, curato da Luca Martinengo per la parte testuale e da Antonella
    Miccolis per il contenuto grafico, pubblicato da Impremix Edizioni ad Ottobre 2019.
  </p>
  <p class="section-regular">
    Si tratta di un'opera originale, fresca, ma che dà voce al disagio di chi vuole cambiare questo mondo, affrontando
    tematiche spinose e d’attualità.
  </p>
  <p class="section-regular">
    Con questo primo libro cerchiamo di creare la “poesia per tutti”: una lettura scorrevole e divertente, con la
    semplice onestà di chi non è ancora scrittore per il mondo, ma che dentro lo è da sempre.
  </p>
  <p class="section-regular">
    Come già detto, è un libro per tutti, ma solo chi riuscirà a penetrare gli strati delle metafore e ballare al ritmo
    della nostra nuova metrica, riuscirà a gustarsi appieno l’intera composizione.
  </p>
  <p class="section-regular">
    Lasciamo qui di seguito una serie di collegamenti per chi desiderasse approfondire la narrazione dell'opera.
    Altrimenti, cambiate sezione e saltate direttamente alla sua lettura! ^^
  </p>

  <ion-grid>
    <ion-row>
      <ion-col>
        <a href="https://www.youtube.com/watch?v=P7iNLgMI3rA&t=5s">
          <img class='img-links' src="assets/other_medias/youtube.png" />
        </a>
      </ion-col>
      <ion-col>
        <a href="https://www.impremix.it/home/">
          <img class='img-links' src="assets/other_medias/impremix.png" />
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>