<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Il fantasma della langa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“Non trovo logica al mondo,
    <br>Ne scruto il fondo e non vedo mai il merito.
    <br>Per perdermi basta un secondo,
    <br>Cammino sul fondo di un piano ipotetico”
  </div>
  <div class="quote-end">
    <br>Jack The Smoker e Dani Faiv, “Brilla”
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Per iniziare, vi narro d’un mito novello
    <br>Antico, più antico del mito più bello.
    <br>Ognun di voi vigile e sveglio rimanga…
    <br>Per udir la storia del fantasma della Langa.
  </p>
  <p class="section-regular">
    Era un vinaio, una volta, un vero langarolo.
    <br>Con lo sguardo alle colline del Piemonte,
    <br>Attendeva la svolta, verso il nuovo.
    <br>Della perseveranza, s’era eletto conte.
  </p>
  <p class="section-regular">
    Nulla gl’importava davvero. Eccetto la vigna,
    <br>La sua adorata eccellenza.
    <br>Nessun acino sprecato, nessuna pianta maligna.
    <br>Era il suo creato, l’anima, l’essenza.
  </p>
  <p class="section-regular">
    Tante passioni fugaci, invero, aveva colto.
    <br>Da buon contadino, aveva inserito radici
    <br>Nel cuor delle amanti, parenti ed amici.
    <br>Poiché seppur rozzo, sicur non era stolto.
  </p>
  <p class="section-regular">
    Sapeva che per quanta buona landa
    <br>Accrescesse il suo succo pregiato,
    <br>Non vi è nulla di più bello, nel creato,
    <br>Del calor di una compagnia veneranda.
  </p>
  <p class="section-regular">
    Aveva dunque rollato paglie di fieno
    <br>Con gli amici genuini, d’amicizia rurale
    <br>Fatta di stelle, corse, sudore e di cielo.
    <br>V’è forse tal magia, nelle città lontane?
  </p>
  <p class="section-regular">
    Aveva sedotto l’amore, per via di più donne,
    <br>E con esse, l’amore aveva imparato.
    <br>Agli amici, raccontava, dopo aver pranzato,
    <br>“Queste donne di città! Belle, sì, come madonne,
  </p>
  <p class="section-regular">
    Ma che han ben poco oltre il parrucco.
    <br>Donne arroganti, sicure ed artefatte. Non ne voglio!
    <br>Una timida campagnola? Mille volte meglio!
    <br>Che ti conquisti con l’insicurezza, senza il trucco!
  </p>
  <p class="section-regular">
    Che sappia cosa un uomo vuole davvero,
    <br>Che sappia dirti cosa desidera,
    <br>Senza bisogno d’avere un maniero,
    <br>senza mutarsi in seno, da vipera!”
  </p>
  <p class="section-regular">
    Così viveva, con la semplice euforia
    <br>Di chi ha ben inteso la vita cosa sia,
    <br>Che nulla più importa dei legami altrui.
    <br>Ma ecco che ci attendono, nella storia, tempi più bui.
  </p>
  <p class="section-regular">
    Un giorno s’affacciò un tale, elegante,
    <br>Che sorrideva tirato, più d’una corda spezzata.
    <br>Con far però affabile, e seducente,
    <br>Iniziò la sua arringa pacata.
  </p>
  <p class="section-regular">
    Su quanto tempo stesse sprecando,
    <br>Il nostro semplice contadinotto.
    <br>“Vieni con me, ho ciò che vai cercando!
    <br>Con i miei soldi, ed il tuo vino, faremo il botto!”
  </p>
  <p class="section-regular">
    Seppur guardingo, poiché conosceva le asperità
    <br>Istintive, naturali, di chi vien dalla città,
    <br>L’offerta lo tentava, poiché, limiti non ne aveva,
    <br>Né pregiudizi, verso l’uomo che or vedeva
    <br>Descrivergli grandi sogni, d’esportazione e magnificenza...
    <br>Dei soldi non poteva sicuramente fare senza,
  </p>
  <p class="section-regular">
    Ma un pelino da parte, egli ne aveva,
    <br>Potevano bastare per la vita che viveva?
    <br>Certo! Ma onestamente, col cuore puro,
    <br>Volle dar l’opportunità, con l’occasione,
    <br>Di crescere al suo lavoro duro
    <br>E far conoscere il vino alla nazione.
  </p>
  <p class="section-regular">
    S’incamminò lesto, nella grande metropoli,
    <br>Lasciando così il suo Giardino di Boboli.
    <br>In un tetro ufficio, lo presero da parte,
    <br>Gli chiesero di firmare dubbie carte,
    <br>E lui, semplicemente, non si chiese più nulla,
    <br>Ormai aveva compiuto i suoi passi, fuor di culla.
    <br>Doveva stare al gioco? Tanto vale farlo in fretta,
    <br>E non irritar il prossimo (uomo d’affari che aspetta...)
  </p>
  <p class="section-regular">
    Industrializzarono così la sua cantina.
    <br>Divenne presto una potente fucina,
    <br>Produttrice di vino, conosciuta nel mondo,
    <br>Oltre che nel suo paese, verde e fecondo.
  </p>
  <p class="section-regular">
    Arrivarono il successo, le donne d’importanza.
    <br>Non gli interessavano, ma già che eran lì...
    <br>“Perché rifiutare ciò che ho ottenuto?
    <br>Del resto son io, che l’acino ho spremuto!
    <br>Se i piaceri della città son tutti così...
    <br>Ero forse io, vile, a non osare abbastanza?”
  </p>
  <p class="section-regular">
    Cercò di aggrapparsi ai suoi concetti,
    <br>Di giustificarsi l’ascesa nel vizio,
    <br>Ma non c’è cura per l’uomo ed il suo ozio,
    <br>Non vi è ignavo che il mondo rispetti.
  </p>
  <p class="section-regular">
    Lo sapeva, egli, ed ansioso, ebbe un pensiero:
    <br>“Fammi un po’ assaggiare il mio vino odierno”.
    <br>Disse, solo, nel suo grande maniero.
    <br>Non lo beveva da molto, non voleva più riviverlo
    <br>Da quando accolse i piaceri del mondo moderno.
    <br>Assaggiò e... Il ribrezzo? Non so davvero descriverlo.
  </p>
  <p class="section-regular">
    Realizzò in un attimo l’entità del suo raggiro.
    <br>Quanta stoltezza in mille piccoli gesti.
    <br>Han reso lo spirito dormiente come un ghiro,
    <br>Ma il corpo stanco, logoro, e gli occhi pesti.
  </p>
  <p class="section-regular">
    S’incamminò in giardino, per respirare,
    <br>Per riassaporare tutta la sua vita,
    <br>Ma per riprendersi non basta ricordare,
    <br>Bisogna tagliarsi l’anima. E la sua? Sparita!
  </p>
  <p class="section-regular">
    Il bicchiere gli cadde, in mille pezzi infranti.
    <br>Il resto colò sulla neve, come sangue, nel bianco.
    <br>Sono forse essi i mille cuori lasciati, distanti,
    <br>Ed il succo di mezza esistenza dormita sul fianco?
  </p>
  <p class="section-regular">
    Probabile. Ma non se ne accorgerà mai.
    <br>É tardi, per rimediare ai troppi guai.
    <br>La morte venne dopo anni, come una liberazione...
    <br>...Per gli altri. Per lui, fu la giusta punizione.
  </p>
  <p class="section-regular">
    Il suo spirito rimase legato alla vigna,
    <br>Anche dopo l’ultima mietitura gramigna.
    <br>E da fantasma ora vaga, nelle fronde.
    <br>Da solo, piangente, ritratto di disperazione.
    <br>Forse son questi i fantasmi: luminosa incarnazione
    <br>Di ciò che in vita attraversammo, l’emozioni profonde.
  </p>
  <p class="section-regular">
    C’è chi infatti, anche se non creduto, tutt’oggi giura
    <br>D’aver visto il fantasma vagar per la radura,
    <br>Maledicendo se stesso e la perfidia dell’uomo,
    <br>Invocando la vera morte, il demonio ed il perdono.
  </p>
  <p class="section-regular">
    Ma a noi poco importa cosa sia davvero,
    <br>Ci importa di non rivivere il suo fato nero!
  </p>
  <p class="section-regular">
    Perciò dimenticate le sue lacrime, e prestate attenzione
    <br>Alle risate di chi vi vuol bene, e lo fa senza adulazione.
  </p>
  <p class="section-regular">
    Amate la vita, non i suoi finti riflessi.
    <br>Fate l’amor con essa, godetevi gli amplessi!
    <br>Ma ricordatevi d’esser voi stessi.
  </p>
  <p class="section-regular">
    In ogni situazione.
  </p>
  <img class='img-regular-img' src="assets/mda_medias/mda1.jpg" />

</ion-content>