<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="second"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">La Danza Del Pathos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content2" (swipe)="swipeEvent($event)">
  <p class="section-regular">
    Con un elogio iniziammo il nostro viaggio
    <br>Or lo continuiamo, sulla stessa via.
    <br>Per voi mi faccio servitore, paggio,
    <br>Porgendovi i frutti di cui vi parlai
    <br>Proprio la scorsa settimana. Suvvia,
    <br>Entriamo nel dettaglio, con coraggio
    <br>Immergiamoci nell'arte ed i suoi guai.
  </p>
  <p class="section-regular">
    Discorriamo dunque della pelle puntinata
    <br>Del groppo in gola, d'un anima estasiata.
    <br>Della commozione, felice, d'un pianto infantile.
    <br>Ditemi, quando ultimamente l'avete provata...
    <br>Senza in sottofondo il gusto della bile?
  </p>
  <p class="section-regular">
    L'emozione è maremoto, temporale.
    <br>Ti sferza con il vento, ti taglia con la brezza.
    <br>Cala con l'impatto, da spazzare il litorale,
    <br>Ma con la pioggia ti sorride, e t'accarezza.
  </p>
  <p class="section-regular">
    Il fulmine colpisce, i pensieri sono arsi,
    <br>Bruciati vivi dal pathos, dal calore.
    <br>Ma chi con una lacrima sanguina dal cuore,
    <br>Risorge ora tra le fiamme della catarsi.
  </p>
  <p class="section-regular">
    Esempio. Avete mai inspirato estro con gli amici
    <br>Stesi persi sul cofano d'una clio?
    <br>Con l'estate, e le stelle adulatrici...
    <br>E nella mente, plasmare il cosmo come un dio?
  </p>
  <p class="section-regular">
    Ecco, questo per me fa la musica,
    <br>La pelle d'oca e la sensazione unica
    <br>D'esser privilegiato, per un intimo istante:
    <br>Le scale e sfumature, le hai colte tutte quante.
  </p>
  <p class="section-regular">
    Approcciarsi all'arte con la tecnica,
    <br>Non esclude di farlo col sorriso.
    <br>Puoi leggere un verso in pietra inciso
    <br>E danzarci, ad ogni cambio della metrica.
  </p>
  <p class="section-regular">
    È tua la scelta. La mia, l'ho compiuta!
    <br>Abbandonarmi a chi ha preso la mia testa,
    <br>E con me viaggia, per una via sconosciuta,
    <br>Ma sussurra piano d'un canto e d'una festa.
  </p>
  <p class="section-regular">
    Auguro a voi d'averla così cresciuta
    <br>La personalità: euforica ma mesta.
    <br>Ora vi abbandono, sorrido e alzo la cresta.
    <br>V'è un altra poesia degna d'essere vissuta.
  </p>
  <br>
  <img class='img-regular-img' src="assets/other_medias/other2.jpg" />
</ion-content>