<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Dedica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <p class="section-regular">
    E anche qui, siamo giunti alla fine.
    <br>Che c’è?
    <br>Sorridi poiché
    <br>Non ho detto molto di me.
  </p>
  <p class="section-regular">
    Un millantatore senza back-ground.
    <br>Un compositore che s’inventa un sound.
  </p>
  <p class="section-regular">
    Buffo vero? Che non vi dia neanche un assaggio
    <br>Di chi è la persona, dietro il personaggio?
    <br>Non vi è dovuto. Dovreste dividerci, voi che state leggendo.
    <br>Ma visto che mi compiace, ve lo dico, m’arrendo.
  </p>
  <p class="section-regular">
    Questo è il libro d’un ventisettenne.
    <br>Che pur di non cadere nel sonno perenne
    <br>(Di chi non si distingue, nemmeno una volta)
    <br>Ha cercato un’esperienza. Non una svolta.
  </p>
  <p class="section-regular">
    Con la penna voglio colpire menti e cuori
    <br>Per morire e vivere ancora come gli scrittori
    <br>Di questi tempi è impossibile, senza colori
    <br>Senza renderne gli impatti indolori.
  </p>
  <p class="section-regular">
    Senza gettare un po’ di fumo negli occhi
    <br>Di chi nemmeno s’accorge dei versi tarocchi.
    <br>(Infatti, stai certo valutando il mio impegno,
    <br>Quando una quartina fa, ho rubato rime a Guè Pequeno!)
  </p>
  <p class="section-regular">
    Ma ci provo lo stesso, le esperienze mi giustificano.
    <br>Una dopo l’altra, il cammino mi indicano.
    <br>Poiché, in vita, non ho fatto molto d’importante.
    <br>Ho solo cercato avventure, m’han reso il cuore più grande.
  </p>
  <p class="section-regular">
    Vediamo: nasco in un contesto ben normale.
    <br>Una famiglia benevola, dove lavoro duro è naturale.
    <br>Cresco bene, con una buona educazione,
    <br>Con varie opportunità, ottenute col sudore,
    <br>Ed a vent’anni lascio casa, con fierezza sempre maggiore.
  </p>
  <p class="section-regular">
    Divento così programmatore, lavoro nell’informatica.
    <br>Dove mi trovo tutt’ora. E vi è certezza matematica:
    <br>La sera, a mente stanca, dopo tale attività pratica
    <br>Dopo 8, 10, 12 ore di vita cibernetica...
  </p>
  <p class="section-regular">
    Scrivere va al di là della semplice poetica,
    <br>Significa aggrapparsi ad una vita creativa,
    <br>Che con passione, pathos e fantasia, mi descriva.
    <br>Non fraintendetemi, io amo l’analisi tecnica,
    <br>Risolvere problemi, e plasmare il mondo virtuale,
    <br>Ho faticato tanto, del resto, per renderlo reale...
  </p>
  <p class="section-regular">
    Ma torniamo a me, il soggetto meno importante.
    <br>Non è stato certo il lavoro a rendermi grande.
    <br>Ma l’amore incontrato, che vivo da dieci anni.
    <br>Non vi è bisogno che ne parli, che ve lo descriva.
    <br>Non occorre altro, lei da sempre canta, nei panni
    <br>Della più straordinaria donna esistente.
    <br>Sull’amore dunque, ripeto, non voglio dir niente.
    <br>Ma alimentarne, ogni giorno, la fiamma viva.
  </p>
  <p class="section-regular">
    Però, d’amori, ve ne sono tanti. Vediamo...
    <br>Con lo skateboard, ormai, ho preso la mano.
    <br>Da 15 anni e più, attraverso la scena torinese
    <br>Sì, ne parlo ancora, il mio difetto più palese,
  </p>
  <p class="section-regular">
    É d’esser prolisso, pure quando al tavolo d’una fumetteria
    <br>Le partite duravano ore. Magic the Gathering! Che nostalgia!
    <br>Le figurine hanno salvato il mio tempo, il mio ingegno,
    <br>M’hanno insegnato amicizia, ambizione e rispetto.
    <br>Verso più d’un avversario, pur se non ne fosse degno.
  </p>
  <p class="section-regular">
    Come il rovente ed ombroso campetto,
    <br>Che per anni, in quel di Collegno,
    <br>M’ha tenuto accanto al canestro.
    <br>Negli stessi momenti ballavo shuffle, leggevo capitoli,
    <br>Viaggiavo con otto amici nei peggio trabiccoli,
    <br>Ecco: sono solo diverse sfumature dell’estro.
  </p>
  <p class="section-regular">
    Inoltre, ancora oggi, viaggio nelle terre lontane
    <br>Di Vvardenfell, con Sarge, Reno Jackson e Kiana.
    <br>Doom Slayer m’accompagna. Tracer mi chiama!
    <br>Che ci posso fare? Mi continuo ad imbarcare!
  </p>
  <p class="section-regular">
    Così nacque un canale, 2 anni fa, dal nulla.
    <br>Dalla voglia di giocare, sincera come in culla,
    <br>Unita al trasmettere altri messaggi, che vengon dai maestri
    <br>Che m’hanno insegnato Yin e Yang, la totalità ed i suoi resti.
  </p>
  <p class="section-regular">
    Tutto questo per dire? Che me la tiro, poiché son bello?
    <br>Che del mio comportamento, in fondo, posso andare fiero?
    <br>Nah, non mi si addice. Resto certo un brutto esempio:
    <br>Sono blasfemo, volgare, adoro l’umor nero.
    <br>Son cinico, della compassione faccio scempio,
    <br>Son irascibile… Ed a volte ho guidato col cappello.
    <br>Ma non è grazie a questo che m’odieranno davvero.
  </p>
  <p class="section-regular">
    ...Pazienza, continuerò a slacciar la seta e la cravatta
    <br>Per annodarle ai pantaloni, con le macchie sulla patta.
    <br>Continuerò a fare carriera, e sbucciarmi le ginocchia.
    <br>Ringrazio chi m’ha sostenuto, sopportando la mia spocchia:
  </p>
  <p class="section-regular">
    Gli amici del Defqon, quelli del Klec, quelli del Corvo Rosso,
    <br>Del quadrilatero, dell’Arcimboldi, delle grigliate a più non posso,
    <br>Del parchetto a Leinì, di Londra, d’Abruzzo, di Roma, di tutti i paesi.
    <br>Ringrazio te, che con la matita, disegni il mondo, da Jesi.
  </p>
  <p class="section-regular">
    E un grazie soprattutto a voi lettori, che avete avuto la pazienza
    <br>D’annullare l’ego, leggere liberamente, senza reticenza.
  </p>
  <p class="section-regular">
    Spero d’avervi intrattenuto a sufficienza.
  </p>
  <p class="section-regular">
    Vi saluto, il mio cuore è pronto per la partenza.
    <br>Qui si conclude, per noi, questa magnifica esperienza.
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda18.jpg" />
</ion-content>