<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="menu3">
      <ion-icon class="mda-tab1"></ion-icon>
      <ion-label>Introduzione</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon class="mda-tab2"></ion-icon>
      <ion-label>Mercanti D'Anima</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="menu2">
      <ion-icon class="mda-tab3"></ion-icon>
      <ion-label>Altre Poesie</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>