<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Felice Regresso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“A tutti voi, dagli Arcade Boyz!!”
  </div>
  <div class="quote-end">
    <br>Fada e Barlow
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Di Torino, di casa, abbiam discusso.
    <br>Allarghiamo ora le nostre vedute,
    <br>Di anima parlammo, alla vostra ora busso,
    <br>Delle persone qui in Italia sedute.
  </p>
  <p class="section-regular">
    Mi rivolgo alla critica, balbettante ed incerta
    <br>Di chi qui dentro s’aggrappa lesto
    <br>A vecchie sicurezze, una sudicia coperta,
    <br>Non mia di certo. D’ignoranza più non mi vesto.
    <br>Riguardo a che? Ma naturale!
    <br>Avete mai osservato chi, dopo i quaranta,
    <br>Critica con feroce foga, e tanta,
    <br>Il nostro amato mondo virtuale?
  </p>
  <p class="section-regular">
    Non dico che è unicamente chi invecchia
    <br>Ad errare interpretazione, ci mancherebbe.
    <br>Ma ammettetelo, di voglia non ve n’è parecchia
    <br>D’approfondir ciò che l’occhio non vorrebbe.
  </p>
  <p class="section-regular">
    Or mi rivolgo a radio e televisione
    <br>E m’appello, chiedendo, a chi mai
    <br>Possano interessar più le gioie e guai
    <br>Di chi non riesce a tener competizione.
  </p>
  <p class="section-regular">
    La tela virtuale, i ritrovi sociali,
    <br>Dove i giovani vagano, in etere,
    <br>Fan molto più dei servizi speciali
    <br>Che un telegiornale possa permettere.
  </p>
  <p class="section-regular">
    “I giovani d’oggi son bestie, animali!”
    <br>“Non vi è più educazione!”
    <br>“Il danno è dei tessuti sociali!”
    <br>“Vi è fin troppa evoluzione!”
  </p>
  <p class="section-regular">
    Ma sbaglio, o siete voi ad aver permesso
    <br>Che i vostri figli entrino nei paraggi,
    <br>Dove le vostre ruote pavonesche han raggi
    <br>Ben più lunghi di quelli per il sesso?
    <br>Educatevi voi, prima dei pargoli,
    <br>Della coscienza, pulite gli angoli,
    <br>Per chi come voi non fa abbastanza
    <br>Per sopperire al tempo che avanza.
  </p>
  <p class="section-regular">
    “E ma son stanco! Lavoro ogni giorno!”
    <br>“La voglia di evolvere, non la ho intorno!”
    <br>Credi che tuo figlio avrà bei mestieri
    <br>Se la tua società non adempie ai doveri
    <br>Di stare al passo coi tempi, di capire
    <br>Chi è arrivato e chi dovrà venire?
  </p>
  <p class="section-regular">
    Son per natura avanti a te, devi essergli accanto!
    <br>E comprender le novità! Non tutto quanto,
    <br>Ma ciò che serve a restar vivi, maledizione!
    <br>L’ignoranza è il peggior nemico della nazione.
    <br>E già oggi sta creando frutti marci.
    <br>Non vorrei davvero star qui a ripassarci...
  </p>
  <p class="section-regular">
    Quanta violenza, quanto astio, quanto panico,
    <br>Sta nascendo dalla perdita del sapere.
    <br>Generazioni di spranghe e coltelli a serramanico,
    <br>È certo un’immagine dal dubbio piacere.
  </p>
  <p class="section-regular">
    E se usaste la cultura, per fare brutto?
    <br>Se le rime fossero la vostra brama?
    <br>Se quando la violenza nell’animo vi trama,
    <br>La sfogaste con l’arguzia? Ah, il diletto!
  </p>
  <p class="section-regular">
    Il vostro nemico, sarà colto nel grugno
    <br>Con maggior impeto d’un solo pugno!
    <br>Applicate dunque la medesima forza
    <br>All’educazione di chi indossa una scorza
    <br>D’angherie, di nera tenebra cerebrale.
    <br>Salvate la nuova generazione, spettacolare.
  </p>
  <p class="section-regular">
    Imparate, e salvatevi voi tutti,
    <br>Parenti, immergetevi a fondo nei flutti
  </p>
  <p class="section-regular">
    D’informazione, di usi, di parole
    <br>Di chi sì, forse è meno raffinato,
    <br>Di quando voi stessi eravate prole.
    <br>Ma oggi il mondo è cambiato.
    <br>Perderemo lesto il lume della ragione,
    <br>Se ciò presto non è accettato.
  </p>
  <p class="section-regular">
    I social, i party, le novità, gli strumenti,
    <br>Non sono mai stati il male, mai, nella storia.
    <br>Siamo noi ad infamarli con gli argomenti.
    <br>Abbandonate l’interno tempio della boria,
  </p>
  <p class="section-regular">
    Unitevi a chi è saggio, e dategli saggezza.
    <br>Così svanirà la loro, e la vostra amarezza!
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda13.jpg" />

</ion-content>