<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Hibiscus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“Ti custodisco nella parte del mio cuore più preziosa
    <br>Tu ancora più graziosa e imbarazzata se beccata ad esser vanitosa
    <br>Lontana da ogni cosa da
    <br>Quelle che si senton donne ma una volta all'anno grazie a una mimosa”
  </div>
  <div class="quote-end">
    <br>En?gma, “Fase REM”
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Come parlare della donna?
    <br>La più suprema forma d'arte...
    <br>"Un sogno, col rossetto e con la gonna"?
    <br>Tanto, comunque ne parli, sei di parte.
  </p>
  <p class="section-regular">
    Sessista solo per chi la vuol proteggere.
    <br>Menefreghista, per chi ne rispetta l'orgoglio.
    <br>Giuro, quest'ipocrisia, non la posso reggere
    <br>Ed allora, faccio a modo mio, ne parlo come voglio.
  </p>
  <p class="section-regular">
    Inizio col dire che non vi è nulla di più bello.
    <br>Seriamente. E chiunque sostenga il contrario, mente.
    <br>Abbiamo costruito castelli d'emozioni fittizie
    <br>Con mille giochi, distrazioni ed altre delizie
    <br>Forse perché oggi manca lo spirito ardente
    <br>Forse perché l'uomo non osa alzare il livello.
  </p>
  <p class="section-regular">
    Pensateci. mi rivolgo a voi, adolescenti.
    <br>Esseri speciali, con la forza sovrumana
    <br>Di chi non è ancora affogato nella gimcana
    <br>Della vita adulta, che deturpa i sentimenti...
  </p>
  <p class="section-regular">
    Quante volte avete parlato ad una sconosciuta?
    <br>Anche voi siete stati rapiti, almeno una volta sola
    <br>Dallo sguardo d'una ragazza lì seduta
    <br>Sull'autobus che vi portava sino a scuola.
  </p>
  <p class="section-regular">
    Cosa avete fatto? Vi siete alzati, tendendo la mano
    <br>Presentandovi ed intavolando un discorso?
    <br>Approcciandovi con gentilezza, esaltandovi piano
    <br>E lasciando che natura ed istinto seguissero il corso?
  </p>
  <p class="section-regular">
    Scommetto di no. Scommetto che avete solo sognato.
    <br>Non tutti, certo. Mica a tutti mancano gli attributi...
    <br>Ma solo a quelli che sono rimasti lì seduti
    <br>Ed obbediscono alle regole che per noi hanno creato.
  </p>
  <p class="section-regular">
    Vedete, chiesa e storia descrivono la donna come un fiore
    <br>Delicata, bella, ma debole e bisognosa d'attenzione.
    <br>Al punto da aver permesso all'uomo, in più d'un occasione
    <br>Di rubarle la libertà. E non vi è più brutto orrore.
  </p>
  <p class="section-regular">
    Ma è anche di riflesso il motivo, la ragione
    <br>Per cui oggi non possiamo parlarne liberamente!
    <br>Secoli di inganno in una deplorevole condizione
    <br>Hanno reso l'uomo colpevole, intrinsecamente!
  </p>
  <p class="section-regular">
    Disdicevole è considerato un gentile apprezzamento.
    <br>Deplorevole è un bacio appassionato di due amanti.
    <br>Pervertito è colui che ammira solo per un momento
    <br>Ciò che da sempre disarma, e rompe gli incanti.
  </p>
  <p class="section-regular">
    Io lo rifiuto. Rifiuto di insabbiarmi nel cemento
    <br>Che cola dalla bocca di chi non ha più vanti.
    <br>Per voi naturalezza non è un nobile cimento?
    <br>Per voi io ho un messaggio: CREPATE tutti quanti.
  </p>
  <p class="section-regular">
    Che sia la donna a compiere le sue scelte
    <br>Ma non il rozzo movimento di classe,
    <br>Spaccar vetri in piazza, l'agitazione delle masse,
    <br>Utili solo a chi sceglie strade svelte...
  </p>
  <p class="section-regular">
    Ma bensì la singola individualità.
    <br>Che sia lei a plasmarsi la vita.
    <br>Avendo con l'uomo la vera parità.
    <br>Lo so. Questa solfa è trita e ritrita...
  </p>
  <p class="section-regular">
    Ma abbiamo dimenticato il vero amore cosa sia.
    <br>Abbiamo permesso all'odio di deturpare la bellezza.
    <br>Abbiamo cestinato romanticismo, rispetto e cavalleria.
    <br>E delle forme d'un corpo vero, dimenticato la fattezza...
  </p>
  <p class="section-regular">
    Ciò premesso, vi dirò chi sono donna e uomo, per me.
  </p>
  <p class="section-regular">
    Esseri identici. Se non per ciò che Natura ha deciso.
    <br>E purtroppo, a noi uomini, tocca la forma meno graziosa...
    <br>Beh, giuro che lo accetto e lo dico col sorriso.
    <br>Beato l'uomo che la rispetta, e che tiene a mente la prosa.
  </p>
  <p class="section-regular">
    Beata la donna che danza, nella poesia composta da sé.
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda7.jpg" />

</ion-content>