<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Ops, Intermezzo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <p class="section-regular">
    La coltre di pallor tardivo
    <br>Del sole di fine estate
    <br>La ricopre ancora
    <br>D'un bianco vivo
    <br>Sulle infinite ballate
    <br>Del tramonto e dell'aurora.
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda9.jpg" />

</ion-content>