<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Paglia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“Una sigaretta è il prototipo perfetto di un perfetto piacere.
    <br>È squisita e lascia insoddisfatti. Che cosa si può volere di più?”
  </div>
  <div class="quote-end">
    <br>Oscar Wilde, Il ritratto di Dorian Gray
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    La prima, indubbiamente, sa d’euforia.
    <br>L’aspirazione della morte per asfissia.
    <br>É meravigliosa, non chiedi ancora cosa sia.
    <br>É una metafora, bella, ma con fine d’entropia.
  </p>
  <p class="section-regular">
    Mentre alla seconda sei felice ed appagato.
    <br>Intuisci che nasconda un secondo fine,
    <br>Ma chi se ne importa? Sei entrato nello stato
    <br>D’una beltà immonda, col fruscio delle cartine.
  </p>
  <p class="section-regular">
    Alla terza, subentra la concentrazione.
    <br>Sul tuo essere, seduto su un balcone.
    <br>Al bar, o nel centro del paese.
    <br>Pensi: com’è che è sì bella, ma non ha pretese?
  </p>
  <p class="section-regular">
    Dopo, in quarta, saprai che non la necessiti.
    <br>Bussano sul petto. E li conti, i tuoi battiti.
    <br>Sei tu, ricordi? Hai invitato un'elegante morte a cena
    <br>E pretendi che ora s’alzi, senza aver la pancia piena.
  </p>
  <p class="section-regular">
    Alla quinta, il ripudio arriva immantinente.
    <br>Verso te, che disprezzi ad ogni nota dolente
    <br>La fermezza nell’imporre le tue scelte.
    <br>Potrai mai perdonarti? Per esser così indolente?
  </p>
  <p class="section-regular">
    Sì, poiché alla sesta, fai un tentativo.
    <br>Di soffocare l’intelletto. Con istinto primitivo.
    <br>Affermi che nessuno al mondo ti può giudicare,
    <br>Neanche tu stesso. L’unico che ti può salvare.
  </p>
  <p class="section-regular">
    Ma non funziona. Sai che entri nel vizio,
    <br>Con la settima boccata, col sapor di sodalizio
    <br>Col tempo che scorre, ed un sentor di melodramma.
    <br>Come una roulette russa, con ogni colpo in canna.
  </p>
  <p class="section-regular">
    Sino alla fine, non ti domandi alcunché.
    <br>Diventa automazione di piacere, dominato.
    <br>Perciò la spegni, lasciando dentro di te
    <br>Tracce d’un amore mai appagato,
  </p>
  <p class="section-regular">
    Per un oggetto, come l’arte, del tutto inutile.
    <br>Ma col gusto d’una vita intera.
    <br>Come si può dunque buttar via le briciole
    <br>E sopportarne il godimento, in che maniera?
  </p>
  <p class="section-regular">
    Io ho trovato nella moderazione un compromesso.
    <br>Certo, non posso dir che sia un successo.
    <br>Ma è già qualcosa. Vi dico inoltre, che mi fornisce ispirazione.
    <br>Seppur sarebbe carino, annientare il nichilismo della situazione.
  </p>
  <p class="section-regular">
    É ovvio, non ho il diritto di parlare di salute
    <br>Poiché per la mia, non ho attenzione sufficiente.
    <br>Un giorno, mi sveglierò intelligente, ed allargherò le vedute…
  </p>
  <p class="section-regular">
    Ma per ora, sporadicamente, mi vedrete fumare.
    <br>Ma perder la speranza? Mai. L’avrò sempre.
    <br>Finché vi è anche solo una stella a brillare.
  </p>

  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda2.jpg" />

</ion-content>