<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Illuminante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“Che arie arroganti!
    <br>Un signorotto senza il complemento di guanti!
    <br>Di nastri, d’alamari, di sbuffi in seta e in lino!”
    <br>“Ma io è moralmente, che sono un figurino...”
  </div>
  <div class="quote-end">
    <br>Cyrano de Bergerac, in trasposizione cinematografica di Oreste Lionello
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Ho il coraggio ora, di cambiar registro.
    <br>Ma un poeta così, mai si era visto!
    <br>Che elabora, canta, cambia e disfa!
    <br>Or che ci penso, il tutto, mi soddisfa?
  </p>
  <p class="section-regular">
    Continuar ad orinare sulle tradizioni,
    <br>Seppur con un dire dotto e vecchio,
    <br>Con la poesia, portare innovazioni
    <br>E nell’animo, godersene parecchio.
  </p>
  <p class="section-regular">
    D’umiltà ora son stufo, dico basta!
    <br>I miei sogni, tutti, li voglio vivi!
    <br>Non come l'altri, con l’orgoglio a mezz’asta
    <br>Quando l’umiltà è il rifugio dei vili.
  </p>
  <p class="section-regular">
    Si, me ne compiaccio, e tanto
    <br>Di far storcere bocche, nasi e colli.
    <br>Davanti ad ideali che sembran pure molli,
    <br>“D’orgoglio ed ironia, me ne farò vanto.”
  </p>
  <p class="section-regular">
    Il pensiero d'un sognatore mio maestro,
    <br>Che ha saputo far emergere lesto
    <br>I sogni, dal mesto buio pesto
    <br>Come me, che di sogni mi vesto.
  </p>
  <p class="section-regular">
    Un altro dei grandi, mi disse, in cuffia,
    <br>Di tenerli stretti nell'animo, invero,
    <br>Poiché il limite, a dir suo, è situato nel cielo,
    <br>Ed è da lassù che ora lui soffia,
  </p>
  <p class="section-regular">
    Come han soffiato nella mia testa
    <br>Innumerevoli ispirazioni fugaci
    <br>I mille saggi, e il canto della foresta,
    <br>Che di forgiarmi sono stati capaci.
  </p>
  <p class="section-regular">
    Ed ora io voglio dare a voi, ragazzi,
    <br>Un motivo di compiacersi a vostra volta.
    <br>Stavolta andrò davvero a briglia sciolta
    <br>Senza paroloni, metafore e tutti i cazzi.
  </p>
  <p class="section-regular">
    Tornate ad esser lirici! Scrivete, dannazione!
    <br>Leggete, abbiate voglia di conoscenza!
    <br>Rompete l'intero mondo con una penna!
    <br>Poiché non vi è più nobile lezione
    <br>Per chi di amore vive senza
    <br>Di veder il mondo cambiare, con un concetto,
    <br>Ed è davvero la più meritevole forma di rispetto!
    <br>Sia fatto d'inchiostro, l'orgoglio vostro, che s'impenna!
  </p>
  <p class="section-regular">
    Tornate indietro, prima di andare avanti,
    <br>E potrete giustificare i vostri vanti.
    <br>Come sono stato ispirato io, e ne ho avuto mille doni.
    <br>Spero di farlo anche con voi, senza rompere i...
  </p>
  <p class="section-regular">
    E se il successo arriva, come la gloria pure,
    <br>E se è davvero il trionfo di animo e parole dure,
    <br>Se non vorrai scoprirti arrogante, e solo...
    <br>“Rimani in alto, sì, ma ricorda il sottosuolo.”
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda10.jpg" />
</ion-content>