<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Follia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“Ringrazio chi mi duole,
    <br>Perché è con certe nuvole
    <br>Che riesci ad occhio nudo
    <br>A fissare il sole”
  </div>
  <div class="quote-end">
    <br>En?gma - Pleiadi
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Alternanza?
    <br>Il più bel principio dei tempi nostri.
    <br>Trepidanza?
    <br>Inghiottila, spremila, e salvati dai mostri.
  </p>
  <p class="section-regular">
    Non trovi?
    <br>Vivere è come dipingere le nuvole.
    <br>Ci provi?
    <br>E alla fine manca sempre un po’ di cielo.
    <br>Manca sempre un po’ di stoffa nel velo
    <br>In cui riposano concetti sempiterni.
    <br>Contano poco, come piccole briciole
    <br>Eppure imperterrito ti ci soffermi.
  </p>
  <p class="section-regular">
    Ci ritroviam così, coerenti fino allo stremo
    <br>Per definirci in fondo folli: questo saremo.
    <br>Follemente paurosi di ferire gli altri,
    <br>Dimenticandoci poi chi nel vero siamo.
    <br>Il pensiero ci mozza cuore, fiato ed arti,
    <br>Fino a non render più vero l’amo,
    <br>L’esca e la canna che ci traggono
    <br>In salvo, ove le passioni permangono.
  </p>
  <p class="section-regular">
    Seppur l’uomo, nella sua virilità,
    <br>Facciamo pur che vi si immerga...
    <br>Non vi è donna di cotal beltà.
    <br>Non vi è carezza che l’animo deterga.
  </p>
  <p class="section-regular">
    E ci immergiamo quindi nel mondo,
    <br>Con squisiti dolori, terribili gioie
    <br>E cacciatori che attendono nel frondo,
    <br>Son loro! Le paranoie!
  </p>
  <p class="section-regular">
    Dopo che si espira allegria
    <br>Distruggendo psiche e rinfrancando...
    <br>Lo spirito, l’ego, la compagnia,
    <br>Per tacere dunque, tacere sognando…
  </p>
  <p class="section-regular">
    Ma come già dicevo non ne siamo più capaci
    <br>Sono molli ed incolumi i nostri carapaci,
    <br>La scorza dell’uomo è tenera, inconsistente.
    <br>E così finiamo a temer la nostra mente.
  </p>
  <p class="section-regular">
    Per poi tenere a mente che l’euforia
    <br>Ci venga data, non venga da un concetto,
    <br>Così siamo pronti a buttarla via,
    <br>Per darle altra forma, altro aspetto,
  </p>
  <p class="section-regular">
    Altri crudeli paradigmi della stessa verità.
    <br>Il mondo, con bianco e nero, si regoli.
    <br>Così è da sempre, e sarà. Per l’eternità.
    <br>E l’uomo, ne vede solo... Sfumature fievoli.
  </p>
  <p class="section-regular">
    Ma non le coglie del tutto. Per questo decadiamo.
    <br>Poiché di nuvole in mente, non ne dipingiamo.
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda3.jpg" />

</ion-content>