<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Salsa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“Non esiste un ingrediente segreto!
    <br>Per rendere una cosa speciale...
    <br>Devi solo credere che sia speciale!”
  </div>
  <div class="quote-end">
    <br>Mr. Ping - Kung fu Panda
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Pascoli scrisse della piada,
    <br>Trilussa parlò del buon vino.
    <br>Loro? Poeti geniali. Io? Un poeta da strada...
    <br>Sentite cosa vi dico in merito, venite vicino.
  </p>
  <p class="section-regular">
    Come pasteggiamo... Ci regola, ci definisce.
    <br>É il modo più semplice d’avere compagnia.
    <br>Mi piace pensare, quando fame m’aggredisce,
    <br>Che ciò unisca il mondo intero, lungo la via.
  </p>
  <p class="section-regular">
    Sicuro, il mio pensiero è alterato dalla tradizione
    <br>Del nostro paese, dove non abbuffarsi è maleducazione.
    <br>Perfino ad arte, siam riusciti ad elevare,
    <br>Il più elementare bisogno di mangiare.
  </p>
  <p class="section-regular">
    Ma da dove nasce la passione?
    <br>Cosa libera il sentimento?
    <br>Di certo, naturale, con il sapore…
    <br>Ma giustifica l’impegno? Un tal cimento?
  </p>
  <p class="section-regular">
    No. Vi è altro, nel mezzo della mente.
    <br>Ho una teoria. Risulterà sorprendente.
    <br>Credo che colori, odori, scienza del cucinare,
    <br>Rimandino a noi ciò che possiamo amare, od odiare.
  </p>
  <p class="section-regular">
    Un sugo che ribolle, in fin dei conti,
    <br>Non è altro che un po’ di sangue rabbioso,
    <br>Per tutti gli impuniti alterchi ed affronti.
    <br>Gestirlo ci calma, ci dà un controllo imperioso.
  </p>
  <p class="section-regular">
    L’usar una mannaia per spezzare le ossa.
    <br>Già solo dalla frase, ti chiedi come tu possa
    <br>Provar un desiderio di violenza latente
    <br>Eppur, quando lama sbatte,
    <br>La soddisfazione è evidente.
  </p>
  <p class="section-regular">
    Sgusciar piselli è faticoso. Un compito laborioso. Mortalmente!
    <br>Ti ci metti controvoglia, sbuffando, esteriormente.
    <br>Ma lo sai perché di sotto godi, nella mente?
    <br>Poiché se nella vita astratta, va tutto malamente,
    <br>Almeno nel concreto, vi è l’opportunità corrente
    <br>Di far qualcosa d’ordinato, una volta solamente.
  </p>
  <p class="section-regular">
    Infarinar la carne? Quale delizia!
    <br>Per alcuni, sporcarsi le dita,
    <br>È l’unico modo di sfuggire alla vita
    <br>D’ordine e di rigore che li sevizia.
  </p>
  <p class="section-regular">
    E che dire di quando, nella carbonara,
    <br>Dai a tutti la notizia, forte e chiara,
    <br>Che “ci hai messo la pancetta!”, poiché...
    <br>A te andava così! E ne sei proprio fiero!
    <br>Spasmodicamente, mi chiedo dunque se, invero,
    <br>Hai bisogno di rovinare un piatto, sicché...
  </p>
  <p class="section-regular">
    Quanto è forte il tuo carattere, lo sappia il circondario.
    <br>Friggendo, il pollo, muore di n’uovo, pezzo dopo pezzo.
    <br>Come l’anima di chi respira quest’olezzo.
    <br>E sicuramente, si prende troppo sul serio.
  </p>
  <p class="section-regular">
    ...Va bene, è una giornata storta.
    <br>Oggi mi va di esser disfattista.
    <br>Di sicuro l’emozione vera non è morta,
    <br>Fatemi tornare d’umor realista...
  </p>
  <p class="section-regular">
    Però, chi davvero si può dire immune
    <br>Alle tentazioni d’un pensiero perverso,
    <br>E cucinar senza allusioni alcune,
    <br>Senza il sovvenir d’un motivo diverso?
  </p>
  <p class="section-regular">
    Pochi, credo. Pochissime ne ho viste,
    <br>Di persone senza amor e violenza miste.
    <br>E, sincero, forse mi guardo più dalla loro purezza,
    <br>Rispetto a chi ammette il peccato, con consapevolezza.
  </p>
  <p class="section-regular">
    ...Ma ora basta.
    <br>Abbandonar pensieri cupi, è imperativo.
    <br>Riscopriamo insieme ciò che v’è di positivo.
    <br>La cucina dota ognuno d’estro creativo,
    <br>Nella complicata arte di tenersi vivo.
  </p>
  <p class="section-regular">
    Mettete le emozioni sul fuoco, di traverso
    <br>Fatele andare a fuoco lento, al punto di cottura,
    <br>In maniera da assaporarle senza censura,
    <br>Senza vergogna del loro gusto perverso.
  </p>
  <p class="section-regular">
    È il consiglio dello chef, che più volte in vita
    <br>Ha finito col bruciarsi tutte le dita.
    <br>A forza di spellar le vostre bollenti scorze
    <br>Mostratele da subito, con tutte le forze!
  </p>
  <p class="section-regular">
    Un pensiero non si giudica dalla sua formulazione,
    <br>Ma dalle sue conseguenze, dal peccato d’azione.
    <br>Basta censura, timore ed imbarazzo. Mostratevi completamente,
    <br>E dal vostro specchio, per la vita, non dovrete temer più niente.
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda14.jpg" />
</ion-content>