<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Benvenuti!</h2>
  <p>
    In futuro utilizzerò questa pagina per progettare cose su stackblitz.
    E ci farò anche la pasta col SUGOOOIIII.
    Test modifica
  </p>
  <p>
    Take a look at the <code>pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
</ion-content>
