<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Dora e Castello</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“Un mare di fredde ciminiere,
    <br>Un fiume di soldatini blu,
    <br>Un cielo scordato dalle fiabe,
    <br>Un sole che non ti scalda mai.”
  </div>
  <div class="quote-end">
    <br>Gipo farassino, “La mia città”
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Narrerò un giorno, con l’opportunità,
    <br>Di come il mondo lascerò, e la magia che ha.
    <br>Racconto ora invece, della storia presente.
    <br>Della mia città, del suo profumo, della sua gente.
  </p>
  <p class="section-regular">
    Inizia in provincia, in un grande paese,
    <br>Per andarmene in campagna, sino a lì.
    <br>Delle prime storie di Settimo Torinese,
    <br>Dell’intermezzo forte che è stata Leinì
    <br>Non posso parlarvene ora, libri interi necessitano
    <br>Per descrivervi l’impatto, l’emozioni che suscitano.
  </p>
  <p class="section-regular">
    Vi racconto del seguito, di lei, di Torino.
    <br>Superba città con vista sui monti
    <br>Che da anni mi incanta con i suoi mille volti.
    <br>Partiamo dal centro, un piccolo mercatino
    <br>Di note, di sera, di risa, nel giorno.
    <br>Trovatemi voi un altro dintorno
    <br>Dove ammirare, dalla Maddalena, a più riprese
    <br>Le luci azzurre, il fiume brillante e turchese...
  </p>
  <p class="section-regular">
    Il rosa d’un tramonto, la immensa Superga...
    <br>Occorre quasi che l’occhio... Diverga!
  </p>
  <p class="section-regular">
    Un normale panorama? Vi è molto altro.
    <br>Vi è la passione di centomila e più epoche.
    <br>Vi è la storia d’un pezzo del mondo
    <br>Nato dalle foreste del Piemonte, dal frondo,
    <br>Adattato dall’uomo, dalle sue logiche
    <br>Per farlo crescere, e bene, peraltro.
  </p>
  <p class="section-regular">
    Trovatemi voi, orsù, un altro luogo.
    <br>Convivono ricchi e poveri, ad un passo,
    <br>Una società prossima al vero collasso,
    <br>Ma che sta in piè, grazie a questo bel giogo.
  </p>
  <p class="section-regular">
    Ammirando la collina, se ne ha evidenza
    <br>In dieci minuti, ci arrivi, da Porta Palazzo.
    <br>Chi può costruire case di tale opulenza
    <br>Ad un passo vero dal degrado? Forse un pazzo?
  </p>
  <p class="section-regular">
    No. I nostri avi furono saggi, ci insegnarono così
    <br>Che l’apparenza inganna, è risaputo.
    <br>Ho del resto io incontrato, nella povertà,
    <br>Molti più valori, rispetto a chi soldi ne ha,
    <br>Ma con uno sguardo davvero meno risoluto.
    <br>Ed è giusto che si equilibrino, a Torino, qui.
  </p>
  <p class="section-regular">
    Ma torniamo all’immensità, allo sfarzo
    <br>Della grande Vittorio Veneto, la piazza.
    <br>Sfido chiunque a respirarvi l’aria di Marzo...
    <br>Entrandovi, il cuor davvero vi impazza.
  </p>
  <p class="section-regular">
    Medesima emozione per Castello, Garibaldi, San Carlo,
    <br>La bianca via Roma dai pavimenti di marmo.
    <br>L’allegria dei locali, lo scoppio di una festa.
    <br>Questo è ciò che di Torino, nel cuore, vi resta.
  </p>
  <p class="section-regular">
    Non ho potuto ammirarla tutta, ancora,
    <br>Tale è grande la sua magnificenza.
    <br>Ma posso parlarvi, sì, del Parco Dora,
    <br>Dove la vera Torino si mostra, non senza...
  </p>
  <p class="section-regular">
    Fare a meno di quell’architettura,
    <br>Di quell’insito tratto comune.
    <br>Che dopo secoli ora perdura,
    <br>Che non si spiega con parole alcune.
  </p>
  <p class="section-regular">
    Dicevo, il Dora: quanti anni, quante persone
    <br>Sono passate per quella struttura.
    <br>Tutte le razze, chiara, rossa, e scura.
    <br>A ridere insieme, aiutarsi, bere da un cornicione.
  </p>
  <p class="section-regular">
    Sentire le nostre ossa piegarsi sulla tavola,
    <br>Capire che rialzarsi, è meglio di una favola!
    <br>Lì ho imparato cosa?
    <br>Che fatica, sudore e rispetto
    <br>Son infine della vita vera, della prosa,
    <br>Il più importante e durevole aspetto.
  </p>
  <p class="section-regular">
    E che dire di Venaria, la Meraviglia!
    <br>Di Torino essa è la più importante figlia
    <br>La vivo da poco, ma giuro, sembra da sempre.
    <br>Tale è ammaliante, specie a Settembre,
  </p>
  <p class="section-regular">
    Quando la Reggia s’illumina in festa,
    <br>Quando i mercati fan sì girare la testa,
    <br>Quando la Mandria è dormiente ma desta,
    <br>Cosa poteva dirmi se non un “resta”?
  </p>
  <p class="section-regular">
    E qui permango, quantomeno, per ora...
    <br>A costruire pian piano la vita.
    <br>A godere del Piemonte, e di chi ne ignora
    <br>La magia, i sapori, e la bellezza infinita.
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda11.jpg" />
</ion-content>