<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="third"></ion-menu-button>
    </ion-buttons>
    <ion-title>Antonella Miccolis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content3" (swipe)="swipeEvent($event)" padding>
  <p class="section-regular">
    Nata a Biella nel 1993, Antonella cresce con la convinzione di fare dell'Arte la sua ragione di vita. 
    <br>Attraverso il disegno, prima tradizionale e poi digitale, si impone di comunicare un messaggio, forte dell'idea che l'immagine sia uno dei migliori vettori di trasmissione di un pensiero, immediato, sì, ma anche fortemente interpretativo.
  </p>
  <p class="section-regular">
    Appassionata, ovviamente, di Arte, sì come di Letteratura, collabora nell'illustrazione di un libro per bambini ("Bollicine" di Andy dei Fiori, edito dalla "Fabbrica dei Segni") e di un romanzo a carattere storico ("De Ultimo" di Armando Roggero). In seguito si affianca all'attività di Luca Martinengo nel tentativo di dare vita alle Poesie da lui composte, accogliendo la sfida di comunicare la complessità di concetti attraverso la definizione cromatica e la scelta di soggetti atti a stilizzarne la natura intrinseca.
  </p>
  <p class="section-regular">
    Lasciamo di seguito i suoi riferimenti, per chi volesse approfondire.
  </p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <a href="https://www.instagram.com/rayna_ryukuro/">
          <img class='img-links' src="assets/other_medias/instagram.png" />
        </a>
      </ion-col>
      <ion-col>
        <a href="https://www.twitch.tv/raynaryukuro">
          <img class='img-links' src="assets/other_medias/twitch.png" />
        </a>
      </ion-col>
      <ion-col>
        <a href="https://discord.gg/aeJWN9P">
          <img class='img-links' src="assets/other_medias/discord.png" />
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
  
