<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Vecchi, vergini, amanti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" (swipe)="swipeEvent($event)">
  <div class="quote">
    <br>“So by the morning light
    <br>We'll be half way to anywhere
    <br>Where love is more than just your name”
  </div>
  <div class="quote-end">
    <br>Evanescence, “Anywhere”
  </div>
  <hr class="row-divider">
  <p class="section-regular">
    Il fremito, l’ansia ed il calor soffocante
    <br>Del corpo, in unione col suo amante.
    <br>Di questo parleremo ora, naturalmente,
    <br>E non vi è più grande meraviglia esistente.
  </p>
  <p class="section-regular">
    Sia esso etero, saffico, omosessuale,
    <br>L’amore è da sempre la forza primordiale
    <br>Poiché l’uomo mosso come un sol animale,
    <br>Che vuol solo accoppiarsi, rozzo e ferale,
    <br>Non vi è dubbio che invero, nel profondo,
    <br>Desideri proprio tutto l’amore del mondo.
  </p>
  <p class="section-regular">
    Ma da chi? Dai seni, le curve ed i gemiti?
    <br>Dai soli picchi d’ansia, l’euforia ed i fremiti?
  </p>
  <p class="section-regular">
    Ne rimarrà allora deluso, sin dalla partenza.
    <br>Poiché, quando si forma la vera pazienza?
    <br>Quando il dolore innalza una soglia, un limite,
    <br>sotto il quale le ferite bruciano, ma son meno vivide.
  </p>
  <p class="section-regular">
    Ed è così che va per il sesso, dopotutto,
    <br>Un affare inizialmente sanguinoso e brutto.
  </p>
  <p class="section-regular">
    (Un amante vergine infatti, dapprima si prostra
    <br>Ma dopo, sempre, porrà l’ego in bella mostra
    <br>E l’innocenza perduta, diventa sì un nulla osta
    <br>Per ascoltare domande, senza mai dare risposta...)
  </p>
  <p class="section-regular">
    Ma poco importa, il fuoco ancora arde,
    <br>Ed i flutti della passione, dipingono arte,
    <br>I canti di gioia risvegliano l’animo, e noi con lui,
    <br>“Davvero son felice, come il ragazzo che fui”
  </p>
  <p class="section-regular">
    Si ritrova a pensar, chiunque abbia il coraggio
    <br>Di amare davvero, durante un amplesso.
    <br>Un brivido di follia in cui intinger il sesso
    <br>Rimarrà altrimenti soltanto un miraggio,
  </p>
  <p class="section-regular">
    E ti ritroverai sul letto, amico mio
    <br>A chiederti: “Perché lo sto facendo, io?
    <br>“Perché con carne molle, riempio il vuoto mio?”
  </p>
  <p class="section-regular">
    Devi trovar l’amore, fosse anche nel pandèmio.
    <br>Rimarrai altresì incompreso, senza essere genio.
  </p>
  <br>
  <img class='img-regular-img' src="assets/mda_medias/mda6.jpg" />

</ion-content>