<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="second"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Pareidolia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content2" (swipe)="swipeEvent($event)">
  <p class="section-regular">
    C'è chi scrive per dare informazioni,
    <br>C'è chi scrive per sfoggiare il suo talento,
    <br>C'è chi scrive nullità, dal titolo succulento.
    <br>Ecco. Di lor voglio parlare. In questo mi cimento.
  </p>
  <p class="section-regular">
    Chi t'accalappia come uno strillone:
    <br>"Al primo ministro, han dato del coglione!"
    <br>Quando in verità, nessuna offesa fu portata,
    <br>Ma mezza parola, sussurrata, mal presentata.
  </p>
  <p class="section-regular">
    "Sconvolgente verità sul principe ereditario!"
    <br>In prima pagina, come se il pettegolezzo
    <br>Fosse per certo la priorità che cerchiamo,
    <br>Mentre nascondiamo fogli d'orrore e ribrezzo.
  </p>
  <p class="section-regular">
    Avete preso l'attenzione degli stolti.
    <br>Complimenti! Tanto l'opinione dei savi, non conta!
    <br>Meglio scriver per dementi, numeri farne molti,
    <br>Chiuder la decenza in una stanza, blindare la porta,
  </p>
  <p class="section-regular">
    Per liberarla al momento più opportuno.
    <br>Possibile che non se ne sia accorto nessuno?
    <br>Certo! Ci ridiamo su, ma il giornale lo compriamo.
    <br>E' così che l'impero dell'idiozia, noi finanziamo.
  </p>
  <p class="section-regular">
    Io scrivo per calare un brivido dal cranio.
    <br>Voi lo fate per un vivido sogno estraneo.
    <br>V'auguro d'affogar nel vostro mare sotterraneo,
    <br>Voi il pensiero lo adescate. Io il pensiero lo dilanio.
  </p>
  <p class="section-regular">
    E ricordo che per ottener la conoscenza,
    <br>Per aver conferma dei fatti rivisti
    <br>Bisogna confrontar notizie, con pazienza,
    <br>E non indulger nei pensieri populisti.
  </p>
  <p class="section-regular">
    E qui vi dico: all'amo, mai mi avrete!
    <br>Per sempre fuggirò la vostra rete!
    <br>Continuerò a pensare, e non fermarmi al titolo
    <br>Dissezionerò tutto, sino all'ultimo capitolo!
  </p>
  <p class="section-regular">
    In quest'epoca di giudizi da copertina,
    <br>Il minimo da fare, per scovar nuovi racconti,
    <br>E' alzare gli occhi, in metro, la mattina,
    <br>E trovarli dove albergano sorrisi, nell'altri volti.
  </p>
  <p class="section-regular">
    Avere opinioni più che fatti, affidarsi al vero intelletto
    <br>Per trovare parole sincere, senza frasi ad effetto.
    <br>Certo, viver nella realtà, annoia parecchio,
    <br>Ma almeno scorgerete ancor un cuore, nel petto
    <br>Guardandovi dentro, nell'interno specchio,
    <br>Dove la verità non è inquinata dagli interessi,
    <br>Dove chi è bravo a parlare, non riesce a farci fessi.
  </p>
  <p class="section-regular">
    Vi invito a combattere l'editoriale catalessi.
    <br>Mi troverete lì, dove gli errori sono ammessi,
    <br>Dove non serve un bel titolo, per essere sè stessi.
  </p>
  <br>
  <img class='img-regular-img' src="assets/other_medias/other3.jpg" />
</ion-content>