<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="second"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-book">Consapevoli</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content2" (swipe)="swipeEvent($event)">
  <p class="section-regular">
    Tempo che scorre, acqua che brucia
    <br>Gioisce la vita, inconsapevole muore.
    <br>Giovani fiori appassiscono nel cuore,
    <br>Aspettando un altro guizzo di fiducia.
  </p>
  <p class="section-regular">
    Siete inermi, nei tredici, innanzi al mondo
    <br>Che vi accoglie, con un caldo scoppiettante...
    <br>Dapprima, quando la vita splende luccicante.
    <br>Per poi svolgere un rampicante, nel frondo
  </p>
  <p class="section-regular">
    Che vi stritola con l’inadeguatezza,
    <br>Vi fa esprimere con sola balbuzie
    <br>Innanzi alle bocche voraci e mai sazie
    <br>Di chi del lavor farà l’unica certezza.
  </p>
  <p class="section-regular">
    E di chi è la colpa, di chi è questa volta?
    <br>Vostra per non aver appetito d’informazione?
    <br>Forse, forse, ma con la giusta moderazione.
    <br>Poiché la gioventù, è una clessidra capovolta...
  </p>
  <p class="section-regular">
    Della famiglia, per non avervi educato?
    <br>Per quanto possa sembrar strano, il peccato
    <br>Non è della famiglia che con costernazione
    <br>Si scherma dietro alla facciata dell’istituzione
  </p>
  <p class="section-regular">
    Ma di scuola, stato, ministeri, fate voi.
    <br>Chiunque contribuisca a questa ecatombe.
    <br>Disinformazione dirompente. Vi son bombe,
    <br>Smitragliate di professioni offerte a noi,
  </p>
  <p class="section-regular">
    Vendute come redditizie, come un sogno perduto,
    <br>Sol perché son così facili da descrivere
    <br>O forse perché non si pensa più a come vivere,
    <br>Facile, nella patria del “tutto è dovuto”.
  </p>
  <p class="section-regular">
    Ma c’è chi necessita d’una via d’uscita
    <br>C’è chi davvero vuol essere formato,
    <br>C’è chi vuol fatica, sudor che cola sul selciato
    <br>Poiché ha necessità di cambiar la propria vita.
  </p>
  <p class="section-regular">
    Il problema è l’Italia, illustre patria di sapienza,
    <br>Dove università spiccano sovrane, questo direste
    <br>Ora non parliamo di cultura e dottorati in bella veste,
    <br>Ma di educazione civica… E ne siam rimasti senza.
  </p>
  <p class="section-regular">
    Se non volete ritrovarvi ingegneri del nulla,
    <br>Per quanto concerne il pane in tavola,
    <br>Spezzate l’incanto, rompete la favola
    <br>E studiate ciò che vi necessita, fuor di culla.
  </p>
  <p class="section-regular">
    Chiudo l'invettiva domandandomi perché mai
    <br>Si può in Italia diventar solamente dottori
    <br>Oppure pezzi d'una fabbrica degli orrori,
    <br>Che spesso toglie molto, al valor degli operai.
  </p>
  <p class="section-regular">
    La via di mezzo esiste, ma ci vuol preparazione.
    <br>Completa, sull'intero mondo della professione.
    <br>A tredici anni è troppo presto? Non credo, cari miei.
    <br>Per dar un futuro ai giovani, tutto ciò lo cambierei.
  </p>
  <br>
  <img class='img-regular-img' src="assets/other_medias/other4.jpg" />

</ion-content>